/results/*.html
/results/*.css
/results/*.png
/results/*.log
/results/*.json
.DS_Store
node_modules
errors.txt
.*
results.zip
*.log
results_websites
results_websites_majestic_million
results_websites_majestic_million_blog
errors_*
excluded_*
included_*
