.scopes {
    color: rgba(255,255,255,.8);
    display: inline-block;
    left: 0;
    white-space: nowrap;
    list-style: none;
    
}

.scopes .scope {
    font-size: .8125rem;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 36px;
    position: relative;
    display: inline-block
}

.scopes .scope a {
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

.scopes .scope.dots {
    margin-bottom: 8px;
    font-weight: bold
}

.scopes .scope .overflow_menu {
    color: #666;
    cursor: pointer;
    transform: scale(0);
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 4px 0;
    min-width: 155px
}

.scopes .scope .overflow_menu .overflow_item {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    text-align: left;
    padding-left: 20px
}

.scopes .scope .overflow_menu .overflow_item a {
    display: inline-block;
    width: 100%;
    height: 100%
}

.scopes .scope .overflow_menu .overflow_item.has_sub a {
    width: 84.5%
}

.scopes .scope .overflow_menu .overflow_item.divider {
    border-top: 1px solid #ddd
}

.scopes .scope .overflow_menu #office .icon {
    background-size: 1350%
}

.scopes .scope .overflow_menu .overflow_container {
    position: absolute
}

.scopes .scope .overflow_menu .submenu {
    position: relative;
    transform: scale(0);
    display: none;
    left: 135px;
    top: -43px
}

.scopes .scope .overflow_menu .submenu .overflow_item .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    height: 16px;
    width: 16px
}

.scopes .scope .overflow_menu .submenu .overflow_item .text {
    display: inline-block;
    vertical-align: middle
}

.scopes .scope.try_exp {
    display: inline-block
}

.scopes .overflow_menu .overflow_item.try_exp {
    display: none
}

#carousel {
    height: 0;
    margin: 0 auto;
    text-align: left;
    position: relative;
    opacity: 0;
    left: 0
}

#carousel.show {
    height: 9rem;
    opacity: 1
}

#carousel .nav {
    background: none
}

#carousel .nav div ,#carousel .nav a {
    background-clip: padding-box;
    background-color: rgba(34,34,34,.9)
}

#carousel .nav div.disabled ,#carousel .nav a.disabled {
    pointer-events: none;
    cursor: auto
}

#carousel .nav .rightNav ,#carousel .nav .leftNav ,#carousel .nav .down {
    position: relative;
    cursor: pointer;
    background: none;
    width: .5rem;
    height: .5rem
}

#carousel .nav .edit_interests {
    cursor: pointer;
    display: none;
    left: calc(2.5rem + .25rem);
    margin: 0 0 .5rem 0;
    background-color: rgba(34,34,34,.9);
    bottom: 100%;
    position: absolute;
    height: 2.5rem;
    width: 2.5rem
}

#carousel .nav .leftNav ,#carousel .nav .rightNav ,#carousel .nav .down {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute
}

#carousel .nav .leftNav ,#carousel .nav .rightNav {
    top: 50%;
    transform: translate3d(0,-50%,0)
}

#carousel .nav .leftNav {
    right: 102%
}

#carousel .nav .rightNav {
    left: 102%
}

#carousel .nav .down {
    margin: 0 0 .5rem 0;
    background-color: rgba(34,34,34,.9);
    left: 0;
    top: auto;
    transform: none;
    bottom: 100%
}

#carousel #crs_pane {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 1.25rem;
    margin: auto;
    min-width: 25rem;
    white-space: nowrap;
    list-style: none;
    scrollbar-width: none;
    
}

html {
    overflow-y: scroll
}

body {
    overflow: visible
}

#thp_notf_div {
    position: fixed !important
}

.bottom_row {
    display: block;
    top: calc(5vh + 9.0625rem);
    min-width: 768px;
    overflow-y: visible;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1
}

.bottom_row .scroll_cont {
    outline: none;
    width: calc(100% + 20px);
    overflow-x: visible;
    overflow-y: visible;
    bottom: 0;
    position: relative;
    top: calc(100vh - 410px)
}

.bottom_row .scroll_cont.no_vs {
    bottom: 2.25rem
}

.bottom_row .scroll_cont.show_none {
    top: calc(100% - 2.9375rem)
}

.bottom_row .scroll_cont.show_none #carousel .down {
    transform: rotate(180deg)
}

.mc_caro {
    margin: auto;
    text-align: right;
    bottom: 0;
    position: relative
}

.mc_caro .musCard {
    text-align: left;
    right: 0;
    display: inline-block;
    margin-bottom: .5rem;
    position: relative;
    user-select: none
}

.mc_caro .musCard .musCardCont {
    bottom: calc(2.5rem + .5rem);
    transform-origin: bottom;
    transform: scale(0);
    background-clip: padding-box;
    padding: .625rem 1.25rem 1.25rem;
    right: 0;
    position: absolute;
    width: 14rem;
    background-color: rgba(34,34,34,.9)
}

.mc_caro .musCard .musCardCont a {
    font-size: .8125rem;
    color: #fff;
    cursor: pointer
}

.mc_caro .musCard .musCardCont .share {
    margin: 0 0 .25rem 0;
    padding: 0
}

.mc_caro .musCard .musCardCont .share li {
    flex-basis: 2.1875rem;
    position: relative
}

.mc_caro .musCard .musCardCont .share li>* {
    display: inline-block;
    height: 100%;
    width: 100%
}

.mc_caro .musCard .musCardCont .share .downloadLink {
    width: 20px;
    height: 16px;
    fill: #fff
}

.mc_caro .musCard .musCardCont .share .downloadLink.disabled {
    pointer-events: none;
    cursor: default;
    fill: #999;
    opacity: .5
}

.mc_caro .musCard .musCardCont .bingwpapptext {
    margin-bottom: 1rem
}

.mc_caro .musCard .musCardCont .hr {
    margin: .5rem 0;
    background-color: #fff;
    height: 1px;
    width: 100%
}

.mc_caro .musCard .musCardCont .title {
    font-family: "Segoe UI Light","Segoe UI",Arial,Helvetica,Sans-Serif;
    font-size: 1.375rem;
    font-weight: 100
}

.mc_caro .musCard .musCardCont .copyright-container {
    display: flex
}

.mc_caro .musCard .musCardCont .copyright {
    max-width: 204px;
    margin-top: .5rem;
    font-size: .75rem;
    color: #ccc
}

.mc_caro .musCard .headline {
    font-size: .8125rem;
    
}

.mc_caro .musCard .headline>* {
    background-color: rgba(34,34,34,.9);
    margin: 0 .125rem;
    text-align: left;
    cursor: pointer
}

.mc_caro .musCard .headline * {
    vertical-align: bottom;
    display: inline-block
}

.mc_caro .musCard .headline .icon ,.mc_caro .musCard .headline .leftNav ,.mc_caro .musCard .headline .rightNav {
    position: relative;
    width: 2.5rem;
    height: 2.5rem
}

.mc_caro .musCard .headline .icon_text .text {
    height: 2.5rem;
    color: #fff;
    padding-right: 18px
}

.mc_caro .musCard .headline .nav {
    background: none
}

.mc_caro .musCard .headline .nav div ,.mc_caro .musCard .headline .nav a {
    background-clip: padding-box;
    background-color: rgba(34,34,34,.9)
}

.mc_caro .musCard .headline .nav div.disabled ,.mc_caro .musCard .headline .nav a.disabled {
    pointer-events: none;
    cursor: auto
}

.mc_caro .musCard .headline .nav .rightNav ,.mc_caro .musCard .headline .nav .leftNav ,.mc_caro .musCard .headline .nav .down {
    position: relative;
    cursor: pointer;
    background: rgba(34,34,34,.9);
    width: 2.5rem;
    height: 2.5rem
}

.mc_caro .musCard .headline .nav .leftNav {
    margin-right: .25rem
}

.vs_cont {
    top: calc(100% - 2.9375rem);
    position: relative;
    width: 100%;
    color: #111
}

.vs_cont .vs {
    width: 100%
}

.below_sbox {
    color: #fff;
    font-size: .8125rem;
    z-index: -1;
    left: 0;
    display: block;
    top: 100%;
    width: 100%;
    position: absolute
}

.below_sbox .text ,.below_sbox a {
    color: #fff
}

#sb_form.hassbi #sbiarea {
    display: inline-block
}

#sb_form #sbiarea {
    position: relative;
    margin: 0;
    width: auto;
    white-space: normal;
    height: 100%;
    width: 100%;
    text-align: center
}

#sb_form #sbiarea #sb_sbip {
    height: 100%
}

#sb_form #sbiarea #sb_sbip #sb_sbi {
    height: 100%
}

#sb_form #sbiarea #sb_sbip #sb_sbi #sbi_b {
    margin: 0;
    height: 100%;
    width: 100%
}

#sb_form #sbiarea #sbicom {
    left: calc(50% - 2px);
    transform: translate3d(-50%,0,0)
}

#idCont {
    display: block;
    right: 0
}

#idCont>* {
    vertical-align: top;
    display: inline-block
}

#idCont .sw_mktsw {
    margin-top: 1px;
    
}

#idCont .sw_mktsw * {
    font-size: .8125rem;
    color: #fff
}

#idCont .sw_mktsw .sw_lang {
    margin: 0 10px
}

#idCont #id_h {
    font-size: .8125rem;
    position: relative;
    margin-top: 2px
}

#idCont #id_h>* {
    vertical-align: top;
    display: inline-block
}

#idCont #id_h .idp_ham {
    height: 39px;
    width: 20px;
    margin: auto 16px;
    background-color: transparent
}

#idCont #id_h #id_d {
    display: none;
    left: auto;
    width: 268px
}

#idCont #id_h #id_d a {
    color: #06c
}

#idCont #id_h #id_d li {
    display: inline
}

#idCont #id_h #id_d h2 {
    font-size: 1.125rem;
    font-weight: normal;
    margin: 0
}

#idCont #id_h #id_rc ,#idCont #id_h #id_rbc ,#idCont #id_h #id_s ,#idCont #id_h #id_l {
    color: #fff
}

#idCont #id_h #id_l {
    padding: 0 12px
}

#idCont #id_h .id_button #id_n {
    vertical-align: top
}

#idCont #id_h .id_button .id_avatar {
    vertical-align: middle;
    margin: 1px 5px 2px 6px
}

#idCont #id_h #bepfo {
    top: 100%;
    position: absolute;
    text-align: left
}

#idCont #id_h #bepfo ,#idCont #id_h #id_d {
    color: #333;
    background-color: #fff;
    right: 0
}

#idCont #id_h #bepfo ,#idCont #id_h #bepfm ,#idCont #id_h #bepfl {
    width: 320px
}

#idCont #id_h #bepfl {
    text-align: center;
    margin: 50px 0
}

#idCont #id_h #id_p ,#idCont #id_h #id_a {
    height: 32px;
    width: 32px;
    background-color: #ececec;
    display: inline-block;
    
}

#idCont #id_h .hpfo {
    right: 0
}

#dsbflyout {
    margin-top: 44px;
    right: 0;
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 280px;
    height: 439px
}

#dsbflyout_hide {
    display: none
}

.tooltip ,#sb_sbi ,#id_sc ,#id_rh ,#id_rbh ,#id_nc ,#bnc-hc {
    position: relative
}

header#b_header {
    position: relative
}

.vs_cont .mc_caro ,.vs_cont .vs>.carousel {
    width: 80%
}

.widget .vs_cont .mc_caro ,.widget .vs_cont .vs>.carousel {
    width: 80%
}

#shdlg-main {
    border: none !important
}

#shdlg-main #shdlgcanvas img {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important
}

