.ad  {
      margin-left:  7px;
      margin-top:  7px;
      font-family:  arial, sans-serif;
      font-size:  18px;
      font-weight:  normal;
      line-height:  18px;
      display:  inline-block;
    
}

.ad-rel  {
      position: relative;
    
}

.ad-title  {
      color:  #12c;
      margin:  0;
      padding:  0;
      font-weight:  normal;
      font-size:  18px;
      line-height:  18px;
    
}

.ad-graphic  {
      background-color:  #59946B;
      border-radius:  2px;
      color:  #fff;
      font-size:  13px;
      line-height:  15px;
      margin-right:  3px;
      padding:  0 3px 0px;
      vertical-align:  baseline;
    
}

.m-url  {
      color:  #006621;
      white-space:  nowrap;
      font-size:  13px;
      display:  inline-block;
    
}

.creative  {
      font-size:  small;
    
}

.extension  {
      font-size:  small;
      color:  #666;
    
}

.rating  {
      display:  inline-block;
      font-size:  13px;
      color:  #E7711B;
    
}

.gray-star  {
      display:  inline-block;
      color:  #CCCCCC;
    
}

.links  {
      font-size:  small;
      color:  #12c;
    
}

.sitelinks  {
      padding-left:  20px;
      width:  600px;
      list-style-type:  none;
    
}

.sitelinks > li  {
      box-sizing:  border-box;
      display:  inline-block;
      vertical-align:  top;
      width:  40%;
      padding-bottom:  15px;
      margin-left:  0;
    
}

.mini-sitelinks  {
      padding-left:  20px;
      margin-top:  8px;
      width:  600px;
    
}

.mini-sitelinks > li  {
      box-sizing:  border-box;
      display:  inline-block;
      vertical-align:  top;
      width:  40%;
      padding-bottom:  3px;
      font-size:  small;
      color:  #12c;
    
}

.location  {
      font-size:  small;
      color:  #12c;
    
}

.location-icon  {
      background:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaBAMAAABMRsE0AAAAG1BMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4Gco9AAAACXRSTlMAESIzRFVmd4iHXqUKAAAAhklEQVQYV0XMoQ7CQBQF0WlTqkkQa+vQOGRlJQ5kHWtLAllP2c5nIx4J6o44ucDh/joBtFnrAJxV39Cq6kCvNevM2W1oi2+yDzhaKc7Qu/0ju0CyMln3TXYl6fOqC10cjjRFddvDpLoCSXWBQCPQlCAwBYEUBLog0JQgcPvEkoLA7vKLdgC+RFI4lQxvT3UAAAAASUVORK5CYII=");
      display:  inline-block;
      width:  0.715em;
      height:  1em;
      background-size:  100% 100%;
      background-repeat:  no-repeat;
      padding-bottom:  4px;
      vertical-align:  middle;
    
}

.creative-with-button  {
      width:  330px;
    
}

.call-button  {
      background:  #F8F8F8;
      font-size:  11px;
      font-weight:  bold;
      padding:  0 2px;
      line-height:  31px;
      min-width:  62px;
      display:  inline-block;
      text-align:  center;
      border:  1px solid #DCDCDC;
      border-radius:  2px;
      float:  right;
      margin-left:  10px;
    
}

.phone  {
      background:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABKUlEQVQ4jZ2TvWuEQBDF7+/1AxUULawlduYaCztTJQhJMIVNijQRjJ2X4oSrrjmCViFy4ZJs9oVsWMS97LnwRAbmx5u3swtCyIKpbduLruuWfE1Wfz9pmq4URSGWZR2aprmaBcqy7AkQJlVVSV3XNyeBMAoP4WHU2aU0CLlMgSDTNA+ymf18RCCoLMs7aRALeixafz4pbNjXdf1zBFnNuv48zx95UFEUD7NAUBiGOwaiDr+GYQhngdDoOM6ewXzffx03IPwoirb0JEIQ1Pf90jCMDwbzPO+NrQCabdt+R13TNCzttRD0CzvnYVCSJGsGmXoBwpmnYKIXAKdHA0RmrusO/8Go073UjcRxvDkGCoLgRXpPqqq6nRoVEOr8TBrERr2nB82A8GvwDcUFhVnFsUicAAAAAElFTkSuQmCC");
      top:  -1px;
      display:  inline-block;
      position:  relative;
      vertical-align:  middle;
      width:  18px;
      height:  18px;
      background-repeat:  no-repeat;
      margin:  0 0 0 .5em;
    
}

.call-button-text  {
      margin-left:  5px;
      margin-right:  .5em;
    
}

.websearch-blue-text  {
      color:  #12c;
    
}

.align-center  {
      text-align:  center;
    
}

.m-action  {
      display:  inline;
      margin:  0 3px;
      position:  relative;
      -webkit-user-select:  none;
      background-color:  #FFF;
      padding:  0px;
    
}

.down-arrow  {
      border-color:  #909090 transparent;
      border-style:  solid;
      border-width:  4px 4px 0 4px;
      width:  0;
      height:  0;
      margin-left:  -2px;
      top:  50%;
      margin-top:  -2px;
      position:  absolute;
      border-width:  5px 4px 0 4px !important;
    
}

.m-action .down-arrow  {
      border-color:  #006621 transparent;
      margin-left:  6px;
    
}

.gray-info-icon  {
      background:  url(https://www.google.com/images/nav_logo242_hr.png);
      background-position:  -107px -99px;
      background-size:  167px;
      display:  inline-block;
      height:  12px;
      width:  12px;
    
}

.info-icon  {
      background:  url(https://www.google.com/images/nav_logo242_hr.png);
      background-position:  0px -106px;
      background-size:  167px;
      display:  inline-block;
      height:  12px;
      width:  12px;
    
}

.no-stack  {
      white-space:  nowrap;
    
}

.cc .ad.side-by-side-ad-left  {
       margin-right: 70px;
    
}

.m-underline  {
      text-decoration:  underline;
    
}

.cc .ad-title.top-title-margin  {
      margin-top:  5px;
    
}

.cc .ad , .cc .ad-title , .cc .ads-url , .cc .extension , .cc .creative , .cc .rating , .cc .location , .cc .m-underline , .cc .location-icon  {
      margin:  0;
    
}

.cc .call-button  {
      margin-left:  15px;
    
}

.cc .nice-table td.naviflow-td  {
      padding:  1em 1em;
    
}

@media (min-width: 771px)  {
      .cc h3.naviflow-h3  {
            margin:  .5em 0;
          
    }

}

.cc h3.naviflow-h3  {
      margin:  0 0 .5em 0;
    
}

.cc .product-link-container.naviflow-plc  {
      position:  absolute;
      right:  1em;
      bottom:  1em;
      margin:  0
}

