<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="dcterms.date" content="2019-05-21" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2019" />
    <meta name="description" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="keywords" content="The page you requested cannot be displayed (HTTP response code 404)">
    <meta name="geo.country" content="US" />
    <meta name="keywords" content="" />
    
    <script>
			digitalData =  {
    
				page:  {
					category: {
						primaryCategory: "error"
					},
					pageInfo: {
						effectiveDate: "2020-04-06",
						expiryDate: "2030-04-06",
						language: "en-ZZ",
						publishDate: "2020-04-06",
						publisher: "IBM Corporation",
						version: "v18",
						ibm: {
							country: "ZZ",
							owner: "Corporate Webmaster/New York/IBM",
							siteID: "error",
							subject: "ZZ999",
							type: "CT030"
						}
					}
				}
			
}

;
		</script>
   
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/www.css" media="all" />
    <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
    <link rel="stylesheet" href="//1.www.s81c.com/common/v18/css/forms.css" media="all" />
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script src="//www.ibm.com/common/digitaladvisor/js/cm-app.min.js"></script>
    
    <title>IBM notice: The page you requested cannot be displayed</title>
    <script type="text/javascript">
			var ibmCommonErrorpagesStatus = "404" ,
				ibmCommonErrorpagesDesc = "Not Found";
    </script>
   
    <style>
      #ibm-gmktp-search-bttn::before  {
    
        background-color:  invisible;
    
        padding:  9px 10px 8px 10px;
    
        color:  #e0e0e0;
    
      
}

#ibm-gmktp-search-bttn  {
    
        right:  20px;
    
        top:  2px;
    
      
}

.ibm-row-form input[type="text"]  {
    
        height:  3em;
    
      
}

.ibm-type-j  {
    
        font-weight:  200;
    
      
}

#explore .ibm-ind-link span  {
    
        top:  -3px
      
}

#explore .ibm-ind-link  {
    
        padding-right:  16px;
    
      
}

#explore a:hover  {
    
        text-decoration-color:  #e0e0e0;
    
      
}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:321px)  {
    
        .ibm-hidden-small-v19 {
        
          display:  none;
        
        
    }

}

@media (min-width:672px)  {
    
        .ibm-show-small-v19  {
        
          display:  none;
        
        
    }

    
        .ibm-hidden-small-v19 {
        
          display:  inherit;
        
        
    }

}

@media (min-width:1056px)  {
    
        .search-holder  {
        
          max-width:  420px;
        
          min-width:  0;
        
        
    }

    

        .ibm-gmktp-search  {
        
          max-width:  350px;
        
        
    }

}

.ibm-gmktp-search  {
    
        position:  relative;
    
        width:  100%;
    
      
}

.ibm-gmktp-search .ibm-row-form p  {
    
        position:  relative;
    
        padding:  0;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form input  {
    
        width:  98%;
    
        background-color:  #393939;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        right:  10px;
    
        top:  6px;
    
        color:  #ffffff;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .ibm-row-form a  {
    
        display:  inline-block;
    
        width:  26px;
    
        height:  26px;
    
        position:  absolute;
    
        left:  10px;
    
        right:  unset;
    
        top:  6px;
    
      
}

.ibm-gmktp-search .ibm-row-form a span  {
    
        display:  none;
    
        position:  relative;
    
      
}

.ibm-gmktp-search .output  {
    
        display:  block;
    
        width:  100%;
    
        position:  absolute;
    
        top:  100%;
    
        left:  0;
    
        z-index:  10;
    
        padding:  0;
    
        background:  #393939;
    
      
}

.ibm-row-form.ibm-row-form--line input[type=email]:hover ,.ibm-row-form.ibm-row-form--line input[type=number]:hover ,.ibm-row-form.ibm-row-form--line input[type=password]:hover ,.ibm-row-form.ibm-row-form--line input[type=search]:hover ,.ibm-row-form.ibm-row-form--line input[type=tel]:hover ,.ibm-row-form.ibm-row-form--line input[type=text]:hover ,.ibm-row-form.ibm-row-form--line input[type=url]:hover {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 0 #e2e2e2;
    box-shadow: 0 1px 0 #e2e2e2
}

ibm-column-form input:hover[type=email] ,.ibm-column-form input:hover[type=number] ,.ibm-column-form input:hover[type=password] ,.ibm-column-form input:hover[type=search] ,.ibm-column-form input:hover[type=tel] ,.ibm-column-form input:hover[type=text] ,.ibm-column-form input:hover[type=url] ,.ibm-column-form textarea:hover ,.ibm-row-form input:hover[type=email] ,.ibm-row-form input:hover[type=number] ,.ibm-row-form input:hover[type=password] ,.ibm-row-form input:hover[type=search] ,.ibm-row-form input:hover[type=tel] ,.ibm-row-form input:hover[type=text] ,.ibm-row-form input:hover[type=url] ,.ibm-row-form textarea:hover {
    border-color: #e2e2e2;
    -webkit-box-shadow: 0 0 0 1px #e2e2e2 inset;
    box-shadow: 0 0 0 1px #e2e2e2 inset
}

.ibm-gmktp-search .output li  {
    
        position:  relative;
    
        color:  #ffffff;
    
        padding:  6px 10px 8px;
    
      
}

.ibm-gmktp-search .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        right:  10px;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search.ibm-gmktp-search-rtl .output li .ibm-forward-link  {
    
        display:  none;
    
        position:  absolute;
    
        top:  7px;
    
        left:  10px;
    
        right:  unset;
    
        width:  26px;
    
        height:  26px;
    
      
}

.ibm-gmktp-search .output li.ibm-active  {
    
        background:  #262626;
    
        color:  #fff;
    
      
}

.ibm-gmktp-search .output li.ibm-active .ibm-forward-link  {
    
        display:  block;
    
      
}

.ibm-gmktp-search .output li:hover  {
    
        cursor:  pointer;
    
      
}

.ibm-gmktp-search .output:empty  {
    
        opacity:  0;
    
        z-index:  -999;
    
      
}

#search  {
    
        height:  48px;
    
        line-height:  48px;
    
      
}

error
.sec-container {
    padding-top: 30px;
    margin: 0 auto;
    width: 1140px
}

#sec-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147483647;
    background-color: rgba(0,0,0,0.5)
}

#sec-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    min-width: 500px;
    z-index: 2147483647
}

#sec-container .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px
}

#sec-if-container {
    font-family: arial;
    color: #515151;
    text-align: center;
    width: -webkit-fill-available;
    padding-bottom: 20px;
    overflow: hidden
}

#sec-if-container iframe {
    border: 0;
    border-style: none
}

#sec-if-container iframe.funcaptcha {
    width: 308px;
    height: 300px
}

#sec-if-container iframe.whiteshadow {
    width: 250px;
    height: 75px
}

#sec-text-if {
    display: block;
    margin: 0 auto;
    width: 700px;
    border: 0
}

#sec-text-container {
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    padding: 10px
}

#sec-cpt-if {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 500px
}

#sec-cpt-if.crypto {
    height: 105px
}

#sec-cpt-if.custom-branding {
    width: 100%
}

@media(max-width:1200px) {
    .sec-container {
        width: 960px
    }

}

@media(max-width:991px) {
    .sec-container {
        width: 720px
    }

    #sec-text-if {
        width: 650px
    }

}

@media(max-width:767px) {
    .sec-container {
        width: 540px
    }

    #sec-text-if {
        width: 400px
    }

}

@media(max-width:575px) {
    .sec-container {
        width: 100%
    }

    #sec-text-if {
        width: 300px
    }

    #sec-overlay {
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }

    #sec-container {
        position: static;
        transform: none;
        -ms-transform: none;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
        min-width: 300px
    }

    #sec-text-container {
        padding: 10px
    }

    #sec-if-container {
        width: 100%
    }

}

