* {
    box-sizing: border-box;
    
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal
}

body {
    margin: 0;
    
}

h1 ,h2 ,h3 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

sup {
    font-size: 75%;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

button ,input {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button ,[type=button] ,[type=reset] ,[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

blockquote ,h1 ,h2 ,h3 ,p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

button ,[role=button] {
    cursor: pointer
}

img ,video {
    display: block;
    vertical-align: middle
}

img ,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

html {
    scroll-behavior: smooth
}

body {
    font-family: ShopifySans,Helvetica,Arial,sans-serif
}

section {
    margin-top: -1px;
    margin-bottom: -1px
}

* {
    --tw-border-spacing-x:  0;
    --tw-border-spacing-y:  0;
    --tw-translate-x:  0;
    --tw-translate-y:  0;
    --tw-rotate:  0;
    --tw-skew-x:  0;
    --tw-skew-y:  0;
    --tw-scale-x:  1;
    --tw-scale-y:  1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness:  proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width:  0px;
    --tw-ring-offset-color:  #fff;
    --tw-ring-color:  rgb(59 130 246 / .5);
    --tw-ring-offset-shadow:  0 0 #0000;
    --tw-ring-shadow:  0 0 #0000;
    --tw-shadow:  0 0 #0000;
    --tw-shadow-colored:  0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}

.container {
    width: 100%
}

@media (min-width: 320px) {
    .container {
        max-width: 320px
    }

}

@media (min-width: 640px) {
    .container {
        max-width: 640px
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }

}

@media (min-width: 900px) {
    .container {
        max-width: 900px
    }

}

@media (min-width: 1080px) {
    .container {
        max-width: 1080px
    }

}

@media (min-width: 1090px) {
    .container {
        max-width: 1090px
    }

}

@media (min-width: 1120px) {
    .container {
        max-width: 1120px
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }

}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px
    }

}

.richtext ul {
    list-style-type: disc
}

.richtext ul {
    margin-left: .5rem;
    padding-left: 1.25rem
}

.richtext li {
    margin-bottom: var(--space-sm)
}

.richtext p {
    margin-bottom: var(--space-lg)
}

.richtext a ,.link {
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    font-weight: 700;
    text-decoration-line: underline;
    outline-color: #751be9
}

a.arrow-animation ,span.arrow-animation ,.arrow-animation>a {
    position: relative
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    
}

.pointer-events-none {
    pointer-events: none
}

.invisible {
    visibility: hidden
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    inset: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.left-0 {
    left: 0
}

.bottom-0 {
    bottom: 0
}

.top-2 {
    top: .5rem
}

.left-2 {
    left: .5rem
}

.top-1 {
    top: .25rem
}

.bottom-2 {
    bottom: .5rem
}

.-right-16 {
    right: -4rem
}

.bottom-11 {
    bottom: 2.75rem
}

.-left-2 {
    left: -.5rem
}

.-top-gutter {
    top: calc(var(--gutter) * -1)
}

.-top-6 {
    top: -1.5rem
}

.left-12 {
    left: 3rem
}

.right-12 {
    right: 3rem
}

.right-1 {
    right: .25rem
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-50 {
    z-index: 50
}

.z-0 {
    z-index: 0
}

.z-auto {
    z-index: auto
}

.z-30 {
    z-index: 30
}

.order-1 {
    order: 1
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

.col-span-3 {
    grid-column: span 3 / span 3
}

.col-span-6 {
    grid-column: span 6 / span 6
}

.col-span-12 {
    grid-column: span 12 / span 12
}

.col-start-1 {
    grid-column-start: 1
}

.col-start-4 {
    grid-column-start: 4
}

.col-start-7 {
    grid-column-start: 7
}

.col-start-10 {
    grid-column-start: 10
}

.m-0 {
    margin: 0
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mx-7 {
    margin-left: 1.75rem;
    margin-right: 1.75rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.ml-2 {
    margin-left: .5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-12 {
    margin-right: 3rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-4 {
    margin-top: 1rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-auto {
    margin-top: auto
}

.mb-12 {
    margin-bottom: 3rem
}

.mr-1 {
    margin-right: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-sm {
    margin-bottom: var(--space-sm)
}

.mb-xl {
    margin-bottom: var(--space-xl)
}

.mt-2 {
    margin-top: .5rem
}

.mt-8 {
    margin-top: 2rem
}

.mr-8 {
    margin-right: 2rem
}

.mr-3 {
    margin-right: .75rem
}

.-mt-8 {
    margin-top: -2rem
}

.ml-auto {
    margin-left: auto
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mt-16 {
    margin-top: 4rem
}

.mb-20 {
    margin-bottom: 5rem
}

.mb-9 {
    margin-bottom: 2.25rem
}

.mt-32 {
    margin-top: 8rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-4xl {
    margin-bottom: var(--space-4xl)
}

.mb-11 {
    margin-bottom: 2.75rem
}

.mb-7 {
    margin-bottom: 1.75rem
}

.mt-24 {
    margin-top: 6rem
}

.ml-5 {
    margin-left: 1.25rem
}

.mt-7 {
    margin-top: 1.75rem
}

.-ml-2 {
    margin-left: -.5rem
}

.box-border {
    box-sizing: border-box
}

.box-content {
    box-sizing: content-box
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.aspect-video {
    aspect-ratio: 16 / 9
}

.h-full {
    height: 100%
}

.h-global-header {
    height: var(--header-height)
}

.h-8 {
    height: 2rem
}

.h-16 {
    height: 4rem
}

.h-12 {
    height: 3rem
}

.h-md {
    height: var(--space-md)
}

.h-xl {
    height: var(--space-xl)
}

.h-4xl {
    height: var(--space-4xl)
}

.h-2 {
    height: .5rem
}

.h-10 {
    height: 2.5rem
}

.h-32 {
    height: 8rem
}

.h-14 {
    height: 3.5rem
}

.h-0 {
    height: 0px
}

.h-3 {
    height: .75rem
}

.h-44 {
    height: 11rem
}

.max-h-0 {
    max-height: 0px
}

.w-full {
    width: 100%
}

.w-32 {
    width: 8rem
}

.w-8 {
    width: 2rem
}

.w-16 {
    width: 4rem
}

.w-12 {
    width: 3rem
}

.w-14 {
    width: 3.5rem
}

.w-3 {
    width: .75rem
}

.w-max {
    width: -moz-max-content;
    width: max-content
}

.w-0 {
    width: 0px
}

.w-10 {
    width: 2.5rem
}

.w-28 {
    width: 7rem
}

.w-screen {
    width: 100vw
}

.w-52 {
    width: 13rem
}

.w-40 {
    width: 10rem
}

.w-80 {
    width: 20rem
}

.w-2 {
    width: .5rem
}

.w-128 {
    width: 32rem
}

.max-w-full {
    max-width: 100%
}

.max-w-3xl {
    max-width: 48rem
}

.max-w-xl {
    max-width: 36rem
}

.max-w-xs {
    max-width: 20rem
}

.shrink-0 {
    flex-shrink: 0
}

.grow-0 {
    flex-grow: 0
}

.basis-full {
    flex-basis: 100%
}

.origin-center {
    transform-origin: center
}

.origin-top {
    transform-origin: top
}

.origin-left {
    transform-origin: left
}

.translate-y-0 {
    --tw-translate-y:  0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-5 {
    --tw-translate-x:  -1.25rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-full {
    --tw-translate-y:  100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
    --tw-scale-x:  1;
    --tw-scale-y:  1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-105 {
    --tw-scale-x:  1.05;
    --tw-scale-y:  1.05;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-x-0 {
    --tw-scale-x:  0;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    user-select: none
}

.snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.snap-mandatory {
    --tw-scroll-snap-strictness:  mandatory
}

.snap-center {
    scroll-snap-align: center
}

.columns-2 {
    columns: 2
}

.break-inside-avoid {
    break-inside: avoid
}

.grid-cols-4 {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.grid-cols-12 {
    grid-template-columns: repeat(12,minmax(0,1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.place-items-center {
    place-items: center
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-20 {
    gap: 5rem
}

.gap-12 {
    gap: 3rem
}

.gap-1 {
    gap: .25rem
}

.gap-3 {
    gap: .75rem
}

.gap-gutter {
    gap: var(--gutter)
}

.gap-x-4 {
    column-gap: 1rem
}

.gap-x-gutter {
    column-gap: var(--gutter)
}

.gap-y-0 {
    row-gap: 0px
}

.gap-x-2 {
    column-gap: .5rem
}

.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.overflow-hidden {
    overflow: hidden
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-y-hidden {
    overflow-y: hidden
}

.overflow-y-visible {
    overflow-y: visible
}

.overflow-x-scroll {
    overflow-x: scroll
}

.overflow-y-scroll {
    overflow-y: scroll
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded-t-lg {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.border-b {
    border-bottom-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-b-8 {
    border-bottom-width: 8px
}

.border-l {
    border-left-width: 1px
}

.border-r {
    border-right-width: 1px
}

.border-r-0 {
    border-right-width: 0px
}

.border-white {
    --tw-border-opacity:  1;
    
}

.border-shade-100 {
    --tw-border-opacity:  1;
    
}

.border-shade-30 {
    --tw-border-opacity:  1;
    
}

.border-black {
    --tw-border-opacity:  1;
    
}

.border-shade-20 {
    --tw-border-opacity:  1;
    
}

.border-y-transparent {
    border-top-color: transparent;
    border-bottom-color: transparent
}

.border-l-black {
    --tw-border-opacity:  1;
    border-left-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-l-white {
    --tw-border-opacity:  1;
    border-left-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-white {
    --tw-bg-opacity:  1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-shade-100 {
    --tw-bg-opacity:  1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-black {
    --tw-bg-opacity:  1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-shade-10 {
    --tw-bg-opacity:  1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity))
}

.bg-shade-20 {
    --tw-bg-opacity:  1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity))
}

.bg-shade-30 {
    --tw-bg-opacity:  1;
    background-color: rgb(204 204 204 / var(--tw-bg-opacity))
}

.from-jalapeño-30 {
    --tw-gradient-from:  #5FD5B6;
    --tw-gradient-to:  rgb(95 213 182 / 0);
    --tw-gradient-stops:  var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-transparent {
    --tw-gradient-to:  rgb(0 0 0 / 0);
    --tw-gradient-stops:  var(--tw-gradient-from), transparent, var(--tw-gradient-to)
}

.via-agave-30 {
    --tw-gradient-to:  rgb(121 223 255 / 0);
    --tw-gradient-stops:  var(--tw-gradient-from), #79DFFF, var(--tw-gradient-to)
}

.to-currant-10 {
    --tw-gradient-to:  #C5D1FF
}

.to-aloe-30 {
    --tw-gradient-to:  #4BFE85
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text
}

.fill-current {
    fill: currentColor
}

.fill-black {
    fill: #000
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.p-0 {
    padding: 0
}

.p-4 {
    padding: 1rem
}

.p-3 {
    padding: .75rem
}

.p-12 {
    padding: 3rem
}

.p-6 {
    padding: 1.5rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-gutter {
    padding-left: var(--gutter);
    padding-right: var(--gutter)
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pr-16 {
    padding-right: 4rem
}

.pt-8 {
    padding-top: 2rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pr-4 {
    padding-right: 1rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pr-1 {
    padding-right: .25rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pt-0 {
    padding-top: 0
}

.pb-0 {
    padding-bottom: 0
}

.pl-10 {
    padding-left: 2.5rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-3 {
    padding-top: .75rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pt-1 {
    padding-top: .25rem
}

.pt-global-header {
    padding-top: var(--header-height)
}

.pt-20 {
    padding-top: 5rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pl-5 {
    padding-left: 1.25rem
}

.pt-gutter {
    padding-top: var(--gutter)
}

.pt-32 {
    padding-top: 8rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.align-middle {
    vertical-align: middle
}

.align-text-bottom {
    vertical-align: text-bottom
}

.font-ibmmono {
    font-family: IBMPlexMono,monospace
}

.font-shopifysans {
    font-family: ShopifySans,Helvetica,Arial,sans-serif
}

.text-body-sm {
    font-size: var(--font-size-body-sm);
    
}

.text-body-base {
    font-size: var(--font-size-body-base);
    
}

.text-body-lg {
    font-size: var(--font-size-body-lg);
    
}

.text-sm {
    font-size: .875rem;
    
}

.text-xs {
    font-size: .75rem;
    
}

.text-lg {
    font-size: 1.125rem;
    
}

.text-base {
    font-size: 1rem;
    
}

.text-t7 {
    font-size: var(--font-size-t7);
    font-weight: var(--font-weight-t7)
}

.text-5xl {
    font-size: 3rem;
    
}

.text-t2 {
    font-size: var(--font-size-t2);
    font-weight: var(--font-weight-t2)
}

.text-xl {
    font-size: 1.25rem;
    
}

.text-2xl {
    font-size: 1.5rem;
    
}

.text-3xl {
    font-size: 1.875rem;
    
}

.text-4xl {
    font-size: 2.25rem;
    
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.text-white {
    --tw-text-opacity:  1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-shade-100 {
    --tw-text-opacity:  1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-shade-90 {
    --tw-text-opacity:  1;
    color: rgb(29 30 30 / var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity:  1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-shade-70 {
    --tw-text-opacity:  1;
    color: rgb(61 63 64 / var(--tw-text-opacity))
}

.text-shade-50 {
    --tw-text-opacity:  1;
    color: rgb(141 144 145 / var(--tw-text-opacity))
}

.text-shade-60 {
    --tw-text-opacity:  1;
    color: rgb(87 87 87 / var(--tw-text-opacity))
}

.text-transparent {
    color: transparent
}

.underline {
    text-decoration-line: underline
}

.opacity-100 {
    opacity: 1
}

.opacity-0 {
    opacity: 0
}

.opacity-50 {
    opacity: .5
}

.shadow-xl {
    --tw-shadow:  0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored:  0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    
}

.shadow-soft-2xl {
    --tw-shadow:  0px 8px 48px rgba(0, 0, 0, .08), 0px 4px 8px rgba(0, 0, 0, .08), 0px 0px 1px rgba(0, 0, 0, .4);
    --tw-shadow-colored:  0px 8px 48px var(--tw-shadow-color), 0px 4px 8px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
    
}

.shadow-globe-product-card {
    --tw-shadow:  0px 8px 48px #EEEEEE, 0px 4px 8px rgba(66, 71, 76, .06), 0px 0px 1px rgba(66, 71, 76, .48);
    --tw-shadow-colored:  0px 8px 48px var(--tw-shadow-color), 0px 4px 8px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
    
}

.shadow-homepage-card {
    --tw-shadow:  0px 4px 8px rgba(66, 71, 76, .06), 0px 0px 1px rgba(66, 71, 76, .48);
    --tw-shadow-colored:  0px 4px 8px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
    
}

.shadow-sm {
    --tw-shadow:  0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored:  0 1px 2px 0 var(--tw-shadow-color);
    
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.blur-sm {
    --tw-blur:  blur(4px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.will-change-auto {
    will-change: auto
}

.will-change-transform {
    will-change: transform
}

.container {
    margin-left: var(--margin);
    margin-right: var(--margin);
    width: auto;
    max-width: none
}

@media (min-width: 1600px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(1600px - (var(--margin) * 2))
    }

}

.no-scrollbar {
    scrollbar-width: none
}

:where(.default\:flex) {
    display: flex
}

:where(.default\:hidden) {
    display: none
}

:where(.default\:max-h-full) {
    max-height: 100%
}

:where(.default\:w-\[114px\]) {
    width: 114px
}

:where(.default\:border-collapse) {
    border-collapse: collapse
}

:where(.default\:justify-center) {
    justify-content: center
}

:where(.default\:gap-x-gutter) {
    column-gap: var(--gutter)
}

:where(.default\:border-y-2) {
    border-top-width: 2px;
    border-bottom-width: 2px
}

:where(.default\:border-black) {
    --tw-border-opacity:  1;
    
}

:where(.default\:bg-shopify-green-10) {
    --tw-bg-opacity:  1;
    background-color: rgb(229 251 186 / var(--tw-bg-opacity))
}

:where(.default\:bg-jalapeño-10\/30) {
    background-color: #ccfff24d
}

:where(.default\:p-6) {
    padding: 1.5rem
}

:where(.default\:py-2) {
    padding-top: .5rem;
    padding-bottom: .5rem
}

:where(.default\:text-t5) {
    font-size: var(--font-size-t5);
    font-weight: var(--font-weight-t5)
}

:where(.default\:font-bold) {
    font-weight: 700
}

:where(.default\:font-normal) {
    font-weight: 400
}

:where(.default\:text-\[\#08445E\]) {
    --tw-text-opacity:  1;
    color: rgb(8 68 94 / var(--tw-text-opacity))
}

:where(.default\:text-black) {
    --tw-text-opacity:  1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    :where(.default\:sm\:px-gutter) {
        padding-left: var(--gutter);
        padding-right: var(--gutter)
    }

}

@media (min-width: 900px) {
    :where(.default\:md\:w-\[190px\]) {
        width: 190px
    }

    :where(.md\:default\:gap-x-gutter) {
        column-gap: var(--gutter)
    }

    :where(.default\:md\:px-0) {
        padding-left: 0;
        padding-right: 0
    }

    :where(.default\:md\:text-t7) {
        font-size: var(--font-size-t7);
        font-weight: var(--font-weight-t7)
    }

}

@media (min-width: 1600px) {
    :where(.default\:xl\:justify-between) {
        justify-content: space-between
    }

}

@media (min-width: 1200px) {
    :where(.default\:lg\:pr-\[12\%\]) {
        padding-right: 12%
    }

    :where(.default\:lg\:pl-\[12\%\]) {
        padding-left: 12%
    }

}

:where(.default\:\[\&_h1\]\:text-white h1) {
    --tw-text-opacity:  1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

:where(.default\:\[\&_h1\]\:text-shade-90 h1) {
    --tw-text-opacity:  1;
    color: rgb(29 30 30 / var(--tw-text-opacity))
}

:where(.default\:\[\&_h3\]\:text-shade-90 h3) {
    --tw-text-opacity:  1;
    color: rgb(29 30 30 / var(--tw-text-opacity))
}

:where(.default\:\[\&_h2\]\:text-shade-90 h2) {
    --tw-text-opacity:  1;
    color: rgb(29 30 30 / var(--tw-text-opacity))
}

:where(.default\:\[\&_h3\]\:text-white h3) {
    --tw-text-opacity:  1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

:where(.default\:\[\&_h2\]\:text-white h2) {
    --tw-text-opacity:  1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

