html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

details ,footer ,header ,nav ,section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

b {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

img {
    border: 0
}

hr {
    box-sizing: content-box;
    height: 0
}

button ,input ,select ,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button ,html input[type=button] ,input[type=reset] ,input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled] ,html input[disabled] {
    cursor: default
}

input[type=checkbox] ,input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    padding: 0
}

button.modernize ,.button.modernize {
    height: 40px;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 1px
}

button.modernize.visible-phone ,.button.modernize.visible-phone {
    display: none
}

button.modernize.hidden-phone ,.button.modernize.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    button.modernize.visible-phone ,.button.modernize.visible-phone {
        display: flex
    }

    button.modernize.hidden-phone ,.button.modernize.hidden-phone {
        display: none
    }

}

button.modernize i ,.button.modernize i {
    margin-right: 6px
}

button.modernize.primary ,.button.modernize.primary {
    background-color: #027eb0;
    border: none
}

button.modernize.secondary ,.button.modernize.secondary {
    background-color: transparent;
    color: #026c97;
    border: solid 1px #026c97
}

button.modernize.link ,.button.modernize.link {
    color: #026c97;
    border: none;
    padding-left: 7px;
    padding-right: 7px
}

button.modernize.reset ,.button.modernize.reset {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0
}

a.modernize.grey-link {
    color: #212240
}

[class^=icon-].modernize ,[class*=" icon-"].modernize {
    width: auto;
    height: auto;
    background: none
}

.modernize-dropdown-wrapper {
    display: flex;
    position: relative
}

.modernize-dropdown {
    position: absolute !important;
    background-color: #fff;
    padding: 8px 0;
    width: 240px;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95)
}

.modernize-dropdown li {
    display: flex;
    align-items: center
}

.modernize-dropdown li i {
    margin-right: 12px;
    font-size: 16px
}

.modernize-dropdown li a {
    display: inline-table;
    width: 100%;
    padding: 12px 16px;
    height: 100%
}

.modernize-dropdown hr {
    margin: 7px 16px;
    color: #d0d6e6
}

html {
    box-sizing: border-box
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html ,body {
    font-size: 14px
}

body {
    background: #fff;
    color: #3b3835;
    cursor: auto;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative
}

img {
    max-width: 100%
}

img {
    -ms-interpolation-mode: bicubic
}

#map_canvas img {
    max-width: none !important
}

.right {
    float: right !important
}

img {
    display: inline-block;
    vertical-align: middle
}

textarea {
    height: auto;
    min-height: 50px
}

select {
    width: 100%
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

[class*=block-grid-] {
    display: block;
    padding: 0;
    margin: 0 -.7142857143rem
}

[class*=block-grid-]>li {
    display: block;
    float: left;
    height: auto;
    padding: 0 .7142857143rem 1.4285714286rem
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

button ,.button {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: normal;
    margin: 0 0 1.4285714286rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: .8571428571rem 1.7142857143rem .9285714286rem 1.7142857143rem;
    font-size: 1.1428571429rem;
    background-color: #027eb0;
    color: #fff;
    
}

button.secondary ,.button.secondary {
    background-color: #e98325;
    color: #fff
}

button.info ,.button.info {
    background-color: #a0d3e8;
    color: #2d2d2d
}

button.small ,.button.small {
    padding: .7142857143rem 1.4285714286rem .7857142857rem 1.4285714286rem;
    font-size: .9285714286rem
}

button.expand ,.button.expand {
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

button[disabled] ,.button[disabled] {
    background-color: #027eb0;
    color: #fff;
    cursor: default;
    opacity: .4
}

secondarybutton[disabled].secondary ,secondary.button[disabled].secondary {
    background-color: #e98325;
    color: #fff;
    cursor: default;
    opacity: .4
}

infobutton[disabled].info ,info.button[disabled].info {
    background-color: #a0d3e8;
    color: #2d2d2d;
    cursor: default;
    opacity: .4
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

form {
    margin: 0 0 1.5714285714rem
}

form .row .row {
    margin: 0 -.7857142857rem
}

form .row .row .columns {
    padding: 0 .7857142857rem
}

form .row input.columns ,form .row textarea.columns {
    padding-left: .7857142857rem
}

label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px
}

label.right {
    float: none !important;
    text-align: right
}

label small {
    color: #676767
}

input[type=text] ,input[type=password] ,input[type=date] ,input[type=datetime] ,input[type=datetime-local] ,input[type=month] ,input[type=week] ,input[type=email] ,input[type=number] ,input[type=search] ,input[type=tel] ,input[type=time] ,input[type=url] ,input[type=color] ,textarea {
    -webkit-appearance: none;
    background-color: #fff;
    color: rgba(0,0,0,.75);
    display: block;
    font-family: inherit;
    font-size: 1rem;
    height: 3.2857142857rem;
    margin: 0 0 1.5714285714rem 0;
    padding: .7857142857rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -moz-transition: -o-transition: 
}

input[type=text][disabled] ,input[type=text][readonly] ,input[type=password][disabled] ,input[type=password][readonly] ,input[type=date][disabled] ,input[type=date][readonly] ,input[type=datetime][disabled] ,input[type=datetime][readonly] ,input[type=datetime-local][disabled] ,input[type=datetime-local][readonly] ,input[type=month][disabled] ,input[type=month][readonly] ,input[type=week][disabled] ,input[type=week][readonly] ,input[type=email][disabled] ,input[type=email][readonly] ,input[type=number][disabled] ,input[type=number][readonly] ,input[type=search][disabled] ,input[type=search][readonly] ,input[type=tel][disabled] ,input[type=tel][readonly] ,input[type=time][disabled] ,input[type=time][readonly] ,input[type=url][disabled] ,input[type=url][readonly] ,input[type=color][disabled] ,input[type=color][readonly] ,textarea[disabled] ,textarea[readonly] {
    background-color: #ddd;
    cursor: default
}

input[type=submit] {
    -webkit-appearance: none;
    
}

textarea[rows] {
    height: auto
}

textarea {
    max-width: 100%
}

select {
    -webkit-appearance: none !important;
    background-color: #fafafa;
    color: rgba(0,0,0,.75);
    font-family: inherit;
    font-size: 1rem;
    padding: .7857142857rem;
    height: 3.2857142857rem
}

select[multiple] {
    height: auto
}

input[type=file] ,input[type=checkbox] ,input[type=radio] ,select {
    margin: 0 0 1.5714285714rem 0
}

input[type=checkbox]+label ,input[type=radio]+label {
    display: inline-block;
    margin-left: .7857142857rem;
    margin-right: 1.5714285714rem;
    margin-bottom: 0;
    vertical-align: baseline
}

input[type=file] {
    width: 100%
}

#recaptcha-v2 {
    margin-bottom: 10px
}

.row {
    margin: 0 auto;
    max-width: 68.5714285714rem;
    width: 100%
}

.row .row {
    margin: 0 -.7142857143rem;
    max-width: none;
    width: auto
}

.columns {
    padding-left: .7142857143rem;
    padding-right: .7142857143rem;
    width: 100%;
    float: left
}

#recaptcha-v2 {
    margin-bottom: 10px
}

.text-center {
    text-align: center !important
}

div ,ul ,li ,h1 ,h2 ,h3 ,form ,p ,td {
    margin: 0;
    padding: 0
}

a {
    color: #027eb0;
    text-decoration: none
}

a img {
    border: none
}

p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1.4285714286rem;
    text-rendering: optimizeLegibility
}

h1 ,h2 ,h3 {
    color: #504c48;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: normal;
    margin-bottom: .3rem;
    margin-top: .2rem;
    text-rendering: optimizeLegibility
}

h1 small ,h2 small ,h3 small {
    color: #918b84;
    font-size: 92%;
    
}

h1 {
    font-size: 2.2857142857rem
}

h2 {
    font-size: 1.7857142857rem
}

h3 {
    font-size: 1.4285714286rem
}

hr {
    border: solid #ddd;
    clear: both;
    height: 0;
    margin: 1.4285714286rem 0 1.3571428571rem
}

b {
    font-weight: bold;
    
}

small {
    font-size: 92%;
    
}

ul {
    font-family: inherit;
    font-size: 1rem;
    list-style-position: outside;
    margin-bottom: 1.4285714286rem
}

ul {
    margin-left: 1.1rem
}

ul li ul {
    margin-left: 1.4285714286rem;
    margin-bottom: 0
}

#recaptcha-v2 {
    margin-bottom: 10px
}

body {
    overflow: auto
}

h1 ,h2 ,h3 {
    font-weight: 300
}

.bold {
    font-weight: bold
}

.tabs {
    border-bottom: 1px solid #d9d7d5
}

a.tabs li a {
    padding-bottom: .4285714286rem
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    white-space: nowrap
}

button.modernize ,.button.modernize {
    height: 40px;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 1px
}

button.modernize.visible-phone ,.button.modernize.visible-phone {
    display: none
}

button.modernize.hidden-phone ,.button.modernize.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    button.modernize.visible-phone ,.button.modernize.visible-phone {
        display: flex
    }

    button.modernize.hidden-phone ,.button.modernize.hidden-phone {
        display: none
    }

}

button.modernize i ,.button.modernize i {
    margin-right: 6px
}

button.modernize.primary ,.button.modernize.primary {
    background-color: #027eb0;
    border: none
}

button.modernize.secondary ,.button.modernize.secondary {
    background-color: transparent;
    color: #026c97;
    border: solid 1px #026c97
}

button.modernize.link ,.button.modernize.link {
    color: #026c97;
    border: none;
    padding-left: 7px;
    padding-right: 7px
}

button.modernize.reset ,.button.modernize.reset {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0
}

a.modernize.grey-link {
    color: #212240
}

[class^=icon-].modernize ,[class*=" icon-"].modernize {
    width: auto;
    height: auto;
    background: none
}

.modernize-dropdown-wrapper {
    display: flex;
    position: relative
}

.modernize-dropdown {
    position: absolute !important;
    background-color: #fff;
    padding: 8px 0;
    width: 240px;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95)
}

.modernize-dropdown li {
    display: flex;
    align-items: center
}

.modernize-dropdown li i {
    margin-right: 12px;
    font-size: 16px
}

.modernize-dropdown li a {
    display: inline-table;
    width: 100%;
    padding: 12px 16px;
    height: 100%
}

.modernize-dropdown hr {
    margin: 7px 16px;
    color: #d0d6e6
}

[class*=span] {
    float: left;
    margin-left: 20px
}

header#main-nav {
    background-color: #f2f9fc;
    font-family: "Source Sans Pro",sans-serif;
    position: relative;
    z-index: 100;
    padding: 0 24px
}

header#main-nav #user-dropdown-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 0;
    margin: 0
}

header#main-nav #user-dropdown div {
    display: grid;
    margin-right: 0;
    text-align: left
}

header#main-nav #user-dropdown div.visible-phone {
    display: none
}

header#main-nav #user-dropdown div.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    header#main-nav #user-dropdown div.visible-phone {
        display: flex
    }

    header#main-nav #user-dropdown div.hidden-phone {
        display: none
    }

}

header#main-nav #user-dropdown div a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    padding: 12px 16px
}

header#main-nav nav {
    margin-bottom: 0;
    padding: 12px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

header#main-nav #left-nav {
    display: flex
}

header#main-nav #open-sidebar {
    margin-right: 16px
}

header#main-nav .logo-container {
    flex: 0 0 auto;
    width: 120px;
    height: 30px
}

header#main-nav #nav-search-form {
    position: relative;
    flex-basis: 440px;
    margin: 0 24px
}

header#main-nav #nav-search-form #search-submit {
    position: absolute;
    right: 16px;
    top: 8px;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: #868dab
}

header#main-nav #nav-search-form #search-submit i {
    font-size: 20px
}

header#main-nav #nav-search-form input#nav-search-query {
    height: 40px;
    border: 1px solid #868dab;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    padding-left: 16px;
    color: #0e0f25
}

header#main-nav ul.nav-actions ,header#main-nav ul#left-nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0
}

header#main-nav ul.nav-actions li:not(:last-child) {
    margin-right: 16px
}

header#main-nav ul.nav-actions .button {
    margin: 0
}

header#main-nav ul#left-nav-links {
    font-weight: 600
}

header#main-nav ul#left-nav-links a {
    margin-left: 32px
}

header#main-nav #search_weights_modal {
    position: absolute;
    right: auto;
    width: auto;
    margin: 0 auto
}

header#main-nav #search_weights_modal a.close {
    margin-right: 10px
}

a#user-dropdown-trigger {
    display: block;
    
}

.app-notification-banner {
    background: #eef0f3;
    color: #16171b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    max-width: 68.5714285714rem;
    margin: 16px auto;
    padding: 18px 0;
    position: relative;
    width: 100%
}

.app-notification-banner.hidden {
    display: none
}

.app-notification-banner p {
    margin: 0
}

.app-notification-banner a.notification-link {
    color: #16171b;
    text-decoration: underline
}

.app-notification-banner a.notification-link.desktop {
    display: inline
}

.app-notification-banner a.notification-link.mobile {
    display: none
}

.app-notification-banner .notification-actions {
    position: absolute;
    right: 15px;
    top: 11px
}

.app-notification-banner button.close-banner {
    background-color: transparent;
    border: none;
    color: #001a27;
    font-size: 26px;
    margin: 0;
    padding: 0
}

.osano-cm-message {
    font-size: 12px;
    margin-bottom: 1em
}

.osano-cm-list {
    margin-bottom: 10px;
    margin-top: 5px
}

.osano-cm-list__list-item {
    font-size: 12px
}

.osano-cm-drawer-links {
    margin: 0
}

.osano-cm-dialog__list {
    margin: 0
}

.osano-cm-info ,.osano-cm-dialog {
    font-family: "Source Sans Pro",sans-serif;
    padding: 16px
}

.osano-cm-label {
    color: #fff;
    font-size: 12px
}

.osano-cm-link {
    color: #027eb0;
    font-size: 12px
}

.osano-cm-button {
    padding: 10px;
    margin: 3px 0;
    font-size: 14px;
    height: 44px
}

.osano-cm-denyAll {
    background-color: #212240;
    color: #fff
}

.osano-cm-close {
    padding: 12px;
    margin: 0;
    margin-left: auto;
    display: block;
    position: relative;
    stroke: #b4bbd1;
    position: absolute;
    top: 8px;
    right: 8px
}

.osano-cm-toggle {
    margin: .6em 0
}

.osano-cm-content__message {
    margin-bottom: 8px;
    padding-bottom: 0;
    width: 90%
}

.osano-cm-buttons {
    column-gap: 6px
}

.osano-cm-widget {
    display: none
}

html {
    height: -webkit-fill-available
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column
}

#sticky-ad-scroll-detector {
    display: none
}

.wrapper ,#main-content {
    display: flex;
    flex-direction: column;
    flex: 1
}

header#main-nav nav#nav-sidebar {
    display: none
}

.scribd-ad-exit-modal.hidden {
    display: none
}

.slideshow-likes-info.hidden ,.slideshow-views-info.hidden ,.subscription-success-learn-more.hidden ,.privacy-policy-explicit-opt-in.hidden ,.whitelist-slideshow-page.hidden ,.sign-up-popup-drawer-container.hidden {
    display: none
}

#fullscreen-css-backdrop {
    display: none;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 100
}

#main-nav-mobile-search {
    display: none;
    background: #dedede;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden
}

#main-nav-mobile-search .input-box {
    margin: 0px;
    position: relative
}

#main-nav-mobile-search .input-box input {
    margin: 0
}

#main-nav-mobile-search .input-box .button {
    background: transparent;
    color: #9f9fac;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px
}

#main-nav-mobile-search .search-spinner {
    display: none
}

button.modernize ,.button.modernize {
    height: 40px;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 1px
}

button.modernize.visible-phone ,.button.modernize.visible-phone {
    display: none
}

button.modernize.hidden-phone ,.button.modernize.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    button.modernize.visible-phone ,.button.modernize.visible-phone {
        display: flex
    }

    button.modernize.hidden-phone ,.button.modernize.hidden-phone {
        display: none
    }

}

button.modernize i ,.button.modernize i {
    margin-right: 6px
}

button.modernize.primary ,.button.modernize.primary {
    background-color: #027eb0;
    border: none
}

button.modernize.secondary ,.button.modernize.secondary {
    background-color: transparent;
    color: #026c97;
    border: solid 1px #026c97
}

button.modernize.link ,.button.modernize.link {
    color: #026c97;
    border: none;
    padding-left: 7px;
    padding-right: 7px
}

button.modernize.reset ,.button.modernize.reset {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0
}

a.modernize.grey-link {
    color: #212240
}

[class^=icon-].modernize ,[class*=" icon-"].modernize {
    width: auto;
    height: auto;
    background: none
}

.modernize-dropdown-wrapper {
    display: flex;
    position: relative
}

.modernize-dropdown {
    position: absolute !important;
    background-color: #fff;
    padding: 8px 0;
    width: 240px;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95)
}

.modernize-dropdown li {
    display: flex;
    align-items: center
}

.modernize-dropdown li i {
    margin-right: 12px;
    font-size: 16px
}

.modernize-dropdown li a {
    display: inline-table;
    width: 100%;
    padding: 12px 16px;
    height: 100%
}

.modernize-dropdown hr {
    margin: 7px 16px;
    color: #d0d6e6
}

#recaptcha-v2 {
    margin-bottom: 10px
}

.ss-hero {
    padding: 2.6rem 0;
    text-align: center
}

.ss-hero .row {
    padding-left: 1%;
    padding-right: 1%
}

.ss-hero .button {
    margin: 1.25rem 0 .75rem
}

.ss-hero p {
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.15rem
}

.ss-hero.has-background-img {
    padding: 3rem 0;
    background: rgba(0,0,0,.3)
}

.ss-hero.has-background-img h1 {
    color: #fff;
    
}

.h-table {
    background: none;
    border: none;
    margin-bottom: 0;
    width: 100%
}

.h-table .h-content {
    white-space: nowrap;
    width: 1px
}

.h-table .h-line {
    position: relative
}

.h-table .h-line div {
    border-bottom: 1px solid #bebebe;
    bottom: 45%;
    left: 10px;
    position: absolute;
    right: 10px
}

.h-table.h-table-margin {
    margin: 1.65rem 0 1.25rem
}

.ss-thumbnail .thumbnail-content .details .author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ss-thumbnail {
    position: relative
}

.ss-thumbnail .thumbnail-link {
    left: 10px;
    top: 0;
    right: 10px;
    bottom: 20px;
    position: absolute;
    z-index: 1
}

.ss-thumbnail .thumbnail-content {
    background: #fff;
    overflow: hidden;
    position: relative
}

.ss-thumbnail .thumbnail-content .bg-img-container {
    background-size: 100.4%;
    background-color: #fff;
    display: block;
    height: 232px;
    overflow: hidden
}

.ss-thumbnail .thumbnail-content .bg-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa
}

img.ss-thumbnail .thumbnail-content .bg-img-container img {
    width: 100.4%;
    max-height: 100%;
    object-fit: contain
}

.ss-thumbnail .thumbnail-content .details {
    padding: 10px;
    overflow: auto
}

.ss-thumbnail .thumbnail-content .details .author {
    display: block
}

.ss-thumbnail .thumbnail-content .details .author a {
    color: #027eb0;
    position: relative;
    z-index: 2
}

.ss-thumbnail .thumbnail-content .details .title {
    color: #3b3835;
    display: block;
    font-weight: 400;
    height: 3em;
    overflow: hidden
}

.ss-thumbnail .thumbnail-content .details hr {
    margin: .72rem 0 .72rem
}

.ss-thumbnail .thumbnail-content .details .info ,.ss-thumbnail .thumbnail-content .details .small-info {
    color: #606266;
    font-weight: 200
}

.ss-thumbnail .thumbnail-content .details .info {
    display: inline-block;
    font-size: 95%;
    max-width: 50%;
    margin-top: 4px;
    float: left
}

.ss-thumbnail .thumbnail-content .details .small-info {
    display: none
}

.ss-thumbnail .thumbnail-content .details .actions {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 2
}

.ss-thumbnail .thumbnail-content .details .actions .action-btn {
    color: #848484;
    cursor: pointer;
    font-size: 140%;
    padding: 0 9px
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .title {
    font-size: 95%
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .author {
    font-size: 80%
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .info {
    display: none
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details hr {
    margin: .22rem 0 .32rem
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .small-info {
    display: inline-block;
    font-size: 74%
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .actions {
    display: block;
    width: 100%;
    margin: auto
}

.ss-thumbnail.ss-small-thumbnail .thumbnail-content .details .actions .action-btn {
    width: 33%;
    display: block;
    float: left;
    text-align: center
}

.facebook {
    color: #3d5e99
}

.twitter {
    color: #2caff0
}

.linkedin {
    color: #007bb6
}

#hp-hero {
    background: #10384e;
    background-size: cover;
    margin-bottom: -100px;
    position: relative;
    padding: 0;
    padding-bottom: 100px
}

#hp-hero .hero_top_unit {
    position: relative;
    text-align: center
}

#hp-hero .hero_top_unit h1 {
    text-rendering: optimizelegibility
}

#hp-hero .hero_top_unit h2 {
    font-size: 21px;
    text-rendering: optimizelegibility
}

#hp-hero .hero_top_unit .subheading {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: .3rem;
    margin-top: .2rem
}

#hp-hero .hero_top_unit .hero_top_unit_content {
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    margin-top: -20px;
    margin-bottom: 20px;
    opacity: 0;
    padding: 30px 0 0 0;
    
}

#hp-hero .top_header {
    padding-bottom: 14px;
    position: relative;
    text-align: center
}

#hp-hero .top_header h2 {
    color: #fff;
    font-size: 21px
}

#hp-hero .top_header .top_line {
    border-bottom: 1px solid rgba(255,255,255,.15);
    left: 0;
    position: absolute;
    top: 20px;
    width: 35%
}

#hp-hero .top_header .top_line.right {
    left: auto;
    right: 0
}

#hp-jobs {
    margin-bottom: 48px
}

.hp-ssod-columns {
    background: #eee;
    padding-top: 10px
}

#hp-directory .columns {
    margin-bottom: 1.4285714286rem
}

#hp-directory .columns h3 {
    font-family: inherit;
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    display: inline-flex;
    text-rendering: optimizeLegibility
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0)
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }

}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }

}

header#main-nav nav#nav-sidebar {
    z-index: 9999;
    font-family: "Source Sans Pro",sans-serif
}

header#main-nav nav#nav-sidebar #sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 16px;
    background-color: #f5f6fa
}

header#main-nav nav#nav-sidebar #sidebar-header .logo-close-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

header#main-nav nav#nav-sidebar #sidebar-header .logo-close-button-container.add-vertical-spacing {
    margin-bottom: 16px
}

header#main-nav nav#nav-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0
}

header#main-nav nav#nav-sidebar .hamburger-menu-close-button {
    background-color: transparent;
    border: none;
    color: #636c8b;
    font-size: 24px;
    padding: 0;
    margin: 0
}

header#main-nav nav#nav-sidebar #sidebar-content {
    background-color: #fff;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column
}

header#main-nav nav#nav-sidebar #sidebar-content #sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 8px 0
}

header#main-nav nav#nav-sidebar #sidebar-content #user-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

header#main-nav nav#nav-sidebar #sidebar-content #user-profile i {
    font-size: 12px
}

header#main-nav nav#nav-sidebar #sidebar-content #user-profile #user-label {
    font-size: 16px
}

header#main-nav nav#nav-sidebar #sidebar-content #user-profile #user-display {
    display: flex;
    align-items: center;
    font-size: 12px
}

header#main-nav nav#nav-sidebar #sidebar-content ul.nav-actions {
    flex-direction: column;
    color: #212240;
    align-items: unset
}

header#main-nav nav#nav-sidebar #sidebar-content ul.nav-actions #upload {
    margin: 0
}

header#main-nav nav#nav-sidebar #sidebar-content ul.nav-actions li {
    margin: 0 16px;
    padding: 12px 0
}

header#main-nav nav#nav-sidebar #sidebar-content ul.nav-actions li a {
    padding: 0
}

header#main-nav nav#nav-sidebar #sidebar-content li {
    margin: 0
}

header#main-nav nav#nav-sidebar #sidebar-content ul.user-actions {
    padding: 0 16px
}

header#main-nav nav#nav-sidebar #sidebar-content ul.user-actions a {
    font-weight: 500
}

footer#modernize-footer {
    margin-top: auto;
    background-color: #002e3c;
    color: #b4bbd1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    clear: both;
    width: 100%;
    z-index: 2
}

footer#modernize-footer #footer-inner {
    width: 100%;
    margin: 0 auto
}

footer#modernize-footer .social-links a ,footer#modernize-footer .main-links a {
    color: #b4bbd1;
    font-weight: bold
}

footer#modernize-footer ul.main-links {
    margin-bottom: .3rem;
    margin-left: 0
}

footer#modernize-footer ul.main-links li {
    display: inline;
    padding: 8px
}

footer#modernize-footer ul.main-links li a {
    white-space: nowrap
}

footer#modernize-footer .social-links {
    margin-top: .4rem;
    list-style: none
}

footer#modernize-footer .social-links li {
    padding: 0 5px
}

footer#modernize-footer #language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    border: solid 1px #b4bbd1;
    color: #b4bbd1;
    font-size: 14px;
    height: 40px;
    padding: 10px 14px;
    margin: 0;
    cursor: pointer
}

footer#modernize-footer #language-selector i {
    font-size: 8px;
    margin: 0;
    transform: rotate(0deg)
}

footer#modernize-footer #language-selector[aria-expanded=true] i.icon-caret-down {
    transform: rotate(180deg)
}

footer#modernize-footer #language-dropdown {
    width: 150px
}

footer#modernize-footer #language-dropdown div {
    justify-content: center;
    margin-right: 0 !important
}

footer#modernize-footer #language-dropdown div a {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    padding: 12px 16px
}

footer#modernize-footer #language-dropdown div a.selected {
    color: #0e0f25;
    font-weight: 600
}

footer#modernize-footer #language-dropdown div i.icon-check {
    font-size: 14px
}

footer#modernize-footer #language-dropdown div i.icon-check.visibility-hidden {
    visibility: hidden
}

footer#modernize-footer #footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer#modernize-footer #footer-top li {
    padding: 0;
    margin-right: 40px
}

footer#modernize-footer #footer-top li a {
    font-size: 14px
}

footer#modernize-footer hr {
    border: 1px solid #00546f;
    margin: 24px 0
}

footer#modernize-footer #footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer#modernize-footer #footer-bottom i {
    font-size: 16px
}

footer#modernize-footer #footer-bottom .social-links {
    display: flex
}

footer#modernize-footer #footer-bottom .social-links li {
    padding: 0 16px
}

footer#modernize-footer #footer-bottom #copyright {
    font-size: 14px
}

button.modernize ,.button.modernize {
    height: 40px;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 1px
}

button.modernize.visible-phone ,.button.modernize.visible-phone {
    display: none
}

button.modernize.hidden-phone ,.button.modernize.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    button.modernize.visible-phone ,.button.modernize.visible-phone {
        display: flex
    }

    button.modernize.hidden-phone ,.button.modernize.hidden-phone {
        display: none
    }

}

button.modernize i ,.button.modernize i {
    margin-right: 6px
}

button.modernize.primary ,.button.modernize.primary {
    background-color: #027eb0;
    border: none
}

button.modernize.secondary ,.button.modernize.secondary {
    background-color: transparent;
    color: #026c97;
    border: solid 1px #026c97
}

button.modernize.link ,.button.modernize.link {
    color: #026c97;
    border: none;
    padding-left: 7px;
    padding-right: 7px
}

button.modernize.reset ,.button.modernize.reset {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0
}

a.modernize.grey-link {
    color: #212240
}

[class^=icon-].modernize ,[class*=" icon-"].modernize {
    width: auto;
    height: auto;
    background: none
}

.modernize-dropdown-wrapper {
    display: flex;
    position: relative
}

.modernize-dropdown {
    position: absolute !important;
    background-color: #fff;
    padding: 8px 0;
    width: 240px;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95)
}

.modernize-dropdown li {
    display: flex;
    align-items: center
}

.modernize-dropdown li i {
    margin-right: 12px;
    font-size: 16px
}

.modernize-dropdown li a {
    display: inline-table;
    width: 100%;
    padding: 12px 16px;
    height: 100%
}

.modernize-dropdown hr {
    margin: 7px 16px;
    color: #d0d6e6
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

.row {
    margin: 0 auto;
    max-width: 68.5714285714rem;
    width: 100%
}

.row .row {
    margin: 0 -.7142857143rem;
    max-width: none;
    width: auto
}

.columns {
    padding-left: .7142857143rem;
    padding-right: .7142857143rem;
    width: 100%;
    float: left
}

.reveal-modal {
    display: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1005;
    left: 0;
    background-color: #fff;
    padding: 2.1428571429rem;
    border: solid 2px #ccc;
    
}

.reveal-modal .columns {
    min-width: 0
}

.reveal-modal .close-reveal-modal {
    color: #3b3835;
    cursor: pointer;
    font-size: 1.7142857143rem;
    font-weight: normal;
    position: absolute;
    top: .2857142857rem;
    right: 1.5714285714rem
}

#recaptcha-v2 {
    margin-bottom: 10px
}

#recaptcha-v2 {
    margin-bottom: 10px
}

.tabs {
    margin-bottom: 0 !important;
    margin-left: 0
}

.tabs li {
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
    position: relative
}

a.tabs li>a {
    display: block;
    background-color: transparent;
    color: #97928c;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    padding: .7142857143rem 1.4285714286rem
}

.reveal-modal .close-reveal-modal.button {
    color: #fff;
    font-size: 1rem;
    left: auto;
    position: relative;
    right: auto;
    top: auto
}

button.modernize ,.button.modernize {
    height: 40px;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 1px
}

button.modernize.visible-phone ,.button.modernize.visible-phone {
    display: none
}

button.modernize.hidden-phone ,.button.modernize.hidden-phone {
    display: flex
}

@media(max-width: 767px) {
    button.modernize.visible-phone ,.button.modernize.visible-phone {
        display: flex
    }

    button.modernize.hidden-phone ,.button.modernize.hidden-phone {
        display: none
    }

}

button.modernize i ,.button.modernize i {
    margin-right: 6px
}

button.modernize.primary ,.button.modernize.primary {
    background-color: #027eb0;
    border: none
}

button.modernize.secondary ,.button.modernize.secondary {
    background-color: transparent;
    color: #026c97;
    border: solid 1px #026c97
}

button.modernize.link ,.button.modernize.link {
    color: #026c97;
    border: none;
    padding-left: 7px;
    padding-right: 7px
}

button.modernize.reset ,.button.modernize.reset {
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0
}

a.modernize.grey-link {
    color: #212240
}

[class^=icon-].modernize ,[class*=" icon-"].modernize {
    width: auto;
    height: auto;
    background: none
}

.modernize-dropdown-wrapper {
    display: flex;
    position: relative
}

.modernize-dropdown {
    position: absolute !important;
    background-color: #fff;
    padding: 8px 0;
    width: 240px;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95)
}

.modernize-dropdown li {
    display: flex;
    align-items: center
}

.modernize-dropdown li i {
    margin-right: 12px;
    font-size: 16px
}

.modernize-dropdown li a {
    display: inline-table;
    width: 100%;
    padding: 12px 16px;
    height: 100%
}

.modernize-dropdown hr {
    margin: 7px 16px;
    color: #d0d6e6
}

[class*=span] {
    float: left;
    margin-left: 20px
}

#homepage-modal-share ,#new-list-modal-share ,#slideview-modal-share {
    position: fixed;
    top: 0;
    bottom: 0
}

.modal-share {
    color: #646464;
    display: none;
    margin: auto;
    background: rgba(0,0,0,.5);
    width: 100%;
    z-index: 10001
}

.modal-share .modal-content-wrapper {
    max-height: 100%
}

.modal-share input:not(#share-email-send) ,.modal-share select[disabled]:not(#share-email-send) ,.modal-share textarea:not(#share-email-send) ,.modal-share select[readonly]:not(#share-email-send) {
    background-color: #fff !important;
    border: 1px solid #d0d0d0;
    outline: none
}

.modal-share input:not(#share-email-send)[disabled] ,.modal-share input:not(#share-email-send)[readonly] ,.modal-share select[disabled]:not(#share-email-send)[disabled] ,.modal-share select[disabled]:not(#share-email-send)[readonly] ,.modal-share textarea:not(#share-email-send)[disabled] ,.modal-share textarea:not(#share-email-send)[readonly] ,.modal-share select[readonly]:not(#share-email-send)[disabled] ,.modal-share select[readonly]:not(#share-email-send)[readonly] {
    color: #a9a9a9 !important
}

.modal-share .share-tab {
    width: 470px
}

.modal-share header ,.modal-share .header {
    background: inherit;
    filter: none;
    -webkit-box-shadow: inherit;
    
}

.modal-share .modal-close {
    align-items: center;
    background-size: 80%;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    height: 26px;
    justify-content: center;
    min-width: 26px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 4px;
    z-index: 1000
}

.modal-share button.modal-close {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    
}

.modal-share .section {
    padding: 0 0 20px 0
}

.modal-share .section.share-link-container {
    padding-bottom: 0
}

.modal-share .section #share-embed-wp {
    cursor: pointer
}

.modal-share textarea ,.modal-share input {
    width: 100%;
    height: 38px;
    font-size: 16px;
    padding: 0 0 0 9px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.modal-share textarea[type=checkbox] ,.modal-share textarea[type=submit] ,.modal-share input[type=checkbox] ,.modal-share input[type=submit] {
    height: auto;
    width: auto;
    
}

.modal-share .modal-popup {
    position: relative
}

.modal-share .modal-popup input ,.modal-share .modal-popup textarea {
    margin: 0;
    font-weight: normal !important
}

.modal-share .modal-popup input.button ,.modal-share .modal-popup textarea.button {
    padding: 3px;
    font-weight: 500
}

.modal-share .modal-popup textarea {
    resize: none
}

.modal-share .modal-popup .tabs {
    border-bottom: none;
    text-align: left;
    float: none
}

.modal-share .modal-popup .tabs a {
    color: inherit;
    text-decoration: none;
    background: none;
    display: inline;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 3px solid transparent;
    
}

.modal-share .modal-popup .tabs hr {
    max-width: 100%
}

.modal-share .modal-popup .tabs hr.divider {
    border: 0;
    height: 0;
    border-bottom: 1px solid #d0d0d0;
    margin-top: 5px;
    margin-bottom: 25px
}

.modal-share .modal-popup .modal-content {
    overflow: hidden;
    padding: 30px;
    background: #e9e9e9;
    max-width: 530px;
    margin: 0 auto;
    position: relative
}

.modal-share .modal-popup .modal-content .header {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 10px 0;
    margin: 0
}

.modal-share .modal-popup .modal-content .share-social-list {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
    height: 50px;
    
}

.modal-share .modal-popup .modal-content .share-social-list li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    width: 49px;
    height: 50px;
    margin: 0 20px 0 0;
    
}

.modal-share .modal-popup .modal-content .share-social-list li .social-hover {
    height: inherit;
    -webkit-box-shadow: none;
    
}

.modal-share .modal-popup .modal-content .share-social-list li .social-hover a {
    height: 100%;
    text-indent: -9999px;
    display: block
}

.modal-share .modal-popup .modal-content .share-link-container {
    display: block;
    vertical-align: top
}

.modal-share .modal-popup .modal-content .share-link-container #share-link-url {
    cursor: pointer
}

.modal-share .modal-popup .modal-content #share-embed-link {
    cursor: pointer;
    white-space: nowrap
}

.modal-share .modal-popup .modal-content .title {
    font-weight: 400;
    vertical-align: bottom
}

.modal-share .modal-popup .modal-content .share-embed-options {
    padding-top: 6px
}

.modal-share .modal-popup .modal-content .share-embed-options select ,.modal-share .modal-popup .modal-content .share-embed-options span ,.modal-share .modal-popup .modal-content .share-embed-options input ,.modal-share .modal-popup .modal-content .share-embed-options div {
    vertical-align: middle !important;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.modal-share .modal-popup .modal-content .share-embed-options>div {
    display: inline-block
}

.modal-share .modal-popup .modal-content .share-embed-options .embed-size-picker {
    width: 76px;
    color: #646464;
    
}

.modal-share .modal-popup .modal-content .share-embed-options .embed-related-cbox {
    width: 48px;
    height: 88px;
    position: relative;
    top: -3px;
    left: -3px
}

.modal-share .modal-popup .modal-content .share-embed-options .embed-show-related {
    float: left;
    width: 33%
}

.modal-share .j-share-expand {
    display: none
}

.modal-share .j-share-expand>input ,.modal-share .j-share-expand>textarea {
    margin-top: 10px
}

.modal-share .embed-size-picker {
    border: none !important;
    outline: none !important;
    height: 22px;
    font-size: 11px;
    margin-bottom: 0;
    padding: 4px;
    text-indent: .01px;
    text-overflow: ""
}

.modal-share #share-email-to ,.modal-share #share-email-name {
    display: block
}

.modal-share select ,.modal-share input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: none;
    
}

@media(max-height: 505px) {
    #lastScreen .modal-content-wrapper {
        overflow: hidden;
        max-height: none;
        background: #e9e9e9
    }

    #lastScreen .modal-content-wrapper #modal-content {
        -webkit-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0
    }

}

@media(max-height: 350px) {
    #lastScreen .modal-content-wrapper {
        height: 251.92px
    }

    #lastScreen .modal-content-wrapper #modal-content {
        -webkit-transform: scale(0.47);
        -o-transform: scale(0.47);
        transform: scale(0.47);
        width: 212.7659574468%
    }

}

[class*=span] {
    float: left;
    margin-left: 20px
}

.mobile-share-container {
    display: none;
    font-size: 0px;
    height: 100%;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000
}

.mobile-share-container .share-overlay {
    background: #000;
    height: 100%;
    opacity: .8;
    position: relative;
    top: 0;
    width: 100%
}

.mobile-share-container .mobile-share-list-container {
    display: block;
    left: 50%;
    margin: -133px -125px 0;
    overflow: visible;
    position: absolute;
    top: 40%;
    width: 255px;
    z-index: 99
}

.mobile-share-container .mobile-share-list-container .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    padding: 0;
    border: none
}

.mobile-share-container .mobile-share-list-container .close-btn .fa {
    color: #fff;
    font-size: 20px
}

.mobile-share-container .mobile-share-list-container .mobile-share-list {
    display: block;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li {
    display: inline-block;
    font-size: 61px;
    height: 122px;
    list-style-type: none;
    margin-bottom: 3px;
    margin-right: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 122px
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.li-share-btn {
    background-color: #007bb6
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.fb-share-btn {
    background-color: #3d5e99
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.tw-share-btn {
    background-color: #2caff0
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.pinterest-share-btn {
    background-color: #fff
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.pinterest-share-btn .fa {
    color: #cb1f27
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li.email-share-btn {
    background-color: #bbc4c8
}

.mobile-share-container .mobile-share-list-container .mobile-share-list li a {
    color: #fff
}

.mobile-share-container .mobile-share-list-container div.share-msg {
    color: #fff;
    font-size: 16px;
    margin: 5px 0 5px 0;
    text-align: center
}

.privacy-policy-explicit-opt-in {
    font-family: "Source Sans Pro",sans-serif
}

.privacy-policy-explicit-opt-in .backdrop {
    background-color: #303133;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100
}

.privacy-policy-explicit-opt-in .content-wrapper {
    background-color: #fff;
    width: 460px;
    z-index: 101;
    left: 50%;
    top: 50%;
    margin-left: calc(-460px / 2);
    position: fixed;
    padding: 24px 32px 32px 32px;
    transform: translateY(-50%)
}

.privacy-policy-explicit-opt-in .content-wrapper h2 {
    color: #16171b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px
}

.privacy-policy-explicit-opt-in .content-wrapper button.close {
    background: transparent;
    border: none;
    margin: unset;
    padding: unset;
    color: #001a27;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    width: 16px;
    position: absolute;
    right: 18px;
    top: 10px
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-content {
    display: flex;
    flex-direction: column
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-content p {
    color: #16171b;
    font-weight: 400;
    font-size: 14px
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-actions {
    display: flex;
    flex-direction: column
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-actions a.view-updated-privacy-policy {
    background-color: transparent;
    border: 1px solid #367cac;
    color: #367cac;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    text-align: center
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-actions button.updated-privacy-policy-assertive {
    font-weight: 700;
    font-size: 16px;
    padding: 10px
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-action-error {
    color: #aa1527;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px
}

.privacy-policy-explicit-opt-in .content-wrapper .modal-action-error.hidden {
    display: none
}

.whitelist-slideshow-page {
    font-family: "Source Sans Pro",sans-serif
}

.whitelist-slideshow-page .backdrop {
    background-color: #303133;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100
}

.whitelist-slideshow-page .content-wrapper {
    background-color: #fff;
    width: 500px;
    z-index: 101;
    left: 50%;
    top: 50%;
    margin-left: calc(-500px / 2);
    position: fixed;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.whitelist-slideshow-page .content-wrapper .logo-container {
    padding-top: 24px
}

.whitelist-slideshow-page .content-wrapper h2 {
    color: #16171b;
    font-size: 28px;
    font-weight: 600;
    margin: 12px 0;
    max-width: 404px
}

.whitelist-slideshow-page .content-wrapper .top-section {
    max-width: 404px
}

.whitelist-slideshow-page .content-wrapper .top-section p {
    color: #434a67;
    font-weight: 400;
    font-size: 18px;
    text-align: center
}

.whitelist-slideshow-page .content-wrapper .top-section .modal-actions {
    display: flex;
    flex-direction: column;
    margin-top: 24px
}

.whitelist-slideshow-page .content-wrapper .top-section .modal-actions button {
    font-weight: 600;
    font-size: 18px;
    height: 48px
}

.whitelist-slideshow-page .content-wrapper .top-section .modal-actions button.whitelist-modal-non-assertive {
    background-color: transparent;
    border: none;
    color: #027eb0;
    text-align: center
}

.whitelist-slideshow-page .content-wrapper .horizontal-divider {
    border: 1px solid #e3e6ef;
    width: 100%
}

.whitelist-slideshow-page .content-wrapper .bottom-section {
    padding: 24px 0
}

.whitelist-slideshow-page .content-wrapper .bottom-section .whitelist-modal-additional-action {
    color: #636c8b;
    font-size: 14px
}

.whitelist-slideshow-page .content-wrapper .bottom-section .whitelist-modal-additional-action .highlight-non-assertive-action {
    background-color: transparent;
    border: none;
    color: #636c8b;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-decoration: underline
}

.scribd-ad-exit-modal {
    font-family: "Source Sans Pro",sans-serif;
    
}

.scribd-ad-exit-modal .backdrop {
    background-color: #303133;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper {
    background-color: #fff;
    left: 50%;
    margin-left: calc(-597px / 2);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 597px;
    z-index: 101
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-title {
    background-color: #85c7d7;
    color: #023f4e;
    padding: 4px 0
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-title h2 {
    font-size: 14px;
    font-weight: 600;
    text-align: center
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-title .close {
    background: transparent;
    border: 0;
    color: #636c8b;
    display: block;
    font-size: 28px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 0
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content {
    display: flex
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar {
    background-color: #f0f2f4;
    padding: 28px 30px 40px;
    width: 175px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .slideshare-plus-scribd {
    margin-bottom: 35px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .image-container {
    margin: 0 auto
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .slideshare-logo {
    height: 25px;
    width: 99px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .plus {
    height: 14px;
    margin-top: -5px;
    width: 14px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .scribd-logo {
    height: 17px;
    width: 76px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .modal-content .sidebar .studying-illustration {
    height: 118px;
    width: 118px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .content {
    padding: 24px 38px;
    text-align: center
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .header {
    color: #0e0f25;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    margin-bottom: 16px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .header .bold {
    font-weight: 700
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .body {
    color: #636c8b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .actions {
    text-align: center
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .cta {
    background-color: #027eb0;
    color: #fff;
    display: inline-block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
    padding: 10px 14px;
    text-decoration: none;
    
}

.scribd-ad-exit-modal .scribd-ad-modal-wrapper .cancel-anytime {
    color: #636c8b;
    font-size: 14px;
    font-weight: 400
}

