[class*=wds-] {
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none
}

strong {
    font-weight: 500 !important
}

@media(min-width: 0) {
    .wds-display--none {
        display: none !important
    }

    .wds-display--block {
        display: block !important
    }

}

@media(min-width: 768px) {
    .wds-display--md-block {
        display: block !important
    }

}

@media(min-width: 992px) {
    .wds-display--lg-none {
        display: none !important
    }

    .wds-display--lg-block {
        display: block !important
    }

}

.wds-flex {
    display: flex
}

.wds-flex--y {
    flex-direction: column
}

.wds-flex:not(.wds-flex--column).wds-flex--x-center {
    justify-content: center
}

.wds-flex:not(.wds-flex--column).wds-flex--y-start {
    align-items: flex-start
}

.wds-flex:not(.wds-flex--column).wds-flex--y-center {
    align-items: center
}

.wds-flex--y.wds-flex--y-start {
    justify-content: flex-start
}

.wds-flex--y.wds-flex--y-center {
    justify-content: center
}

.wds-flex--y.wds-flex--x-center {
    align-items: center
}

.wds-flex>* ,.wds-flex__item {
    flex: 0 1 auto
}

.wds-float--left {
    float: left
}

.wds-float--right {
    float: right
}

.wds-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
    background-color: #00bf6f
}

.wds-button.wds-button--text {
    color: #00bf6f;
    background-color: rgba(0,0,0,0)
}

.wds-button--alt {
    color: #333e48;
    background-color: #fff
}

.wds-button--upgrade {
    color: #333e48;
    background-color: #f9be00
}

.wds-button--upgrade.wds-button--text {
    color: #f9be00;
    background-color: rgba(0,0,0,0)
}

.wds-button--midnight {
    color: #fff;
    background-color: #05467e
}

.wds-button--midnight.wds-button--text {
    color: #05467e;
    background-color: rgba(0,0,0,0)
}

.wds-button--concord {
    color: #fff;
    background-color: #53225b
}

.wds-button--concord.wds-button--text {
    color: #53225b;
    background-color: rgba(0,0,0,0)
}

.wds-button ,.wds-button--md {
    padding: 0 24px;
    font-size: 15px;
    height: 40px
}

.wds-button--lg {
    padding: 0 36px;
    font-size: 15px;
    height: 50px
}

.wds-button--sm {
    padding: 0 12px;
    font-size: 13px;
    height: 30px
}

.wds-button[disabled] {
    pointer-events: none;
    opacity: .4
}

.wds-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 0) {
    .wds-grid {
        max-width: none;
        padding-left: 16px;
        padding-right: 16px
    }

}

@media(min-width: 576px) {
    .wds-grid {
        max-width: 576px;
        padding-left: 32px;
        padding-right: 32px
    }

}

@media(min-width: 768px) {
    .wds-grid {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px
    }

}

@media(min-width: 992px) {
    .wds-grid {
        max-width: 992px;
        padding-left: 32px;
        padding-right: 32px
    }

}

@media(min-width: 1200px) {
    .wds-grid {
        max-width: 1400px;
        padding-left: 32px;
        padding-right: 32px
    }

}

.wds-grid__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}

@media(min-width: 0) {
    .wds-grid__row {
        margin-left: -8px;
        margin-right: -8px
    }

}

@media(min-width: 576px) {
    .wds-grid__row {
        margin-left: -12px;
        margin-right: -12px
    }

}

@media(min-width: 768px) {
    .wds-grid__row {
        margin-left: -12px;
        margin-right: -12px
    }

}

@media(min-width: 992px) {
    .wds-grid__row {
        margin-left: -12px;
        margin-right: -12px
    }

}

@media(min-width: 1200px) {
    .wds-grid__row {
        margin-left: -12px;
        margin-right: -12px
    }

}

.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
    max-width: 100%;
    position: relative;
    min-height: 1px
}

@media(min-width: 0) {
    .wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
        padding-left: 8px;
        padding-right: 8px
    }

}

@media(min-width: 576px) {
    .wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
        padding-left: 12px;
        padding-right: 12px
    }

}

@media(min-width: 768px) {
    .wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
        padding-left: 12px;
        padding-right: 12px
    }

}

@media(min-width: 992px) {
    .wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
        padding-left: 12px;
        padding-right: 12px
    }

}

@media(min-width: 1200px) {
    .wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-3 ,.wds-grid__col ,.wds-grid__col-lg-4 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-lg-6 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-md-8 ,.wds-grid__col ,.wds-grid__col-9 ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col ,.wds-grid__col-12 {
        padding-left: 12px;
        padding-right: 12px
    }

}

.wds-grid__col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

@media(min-width: 0) {
    .wds-grid__col-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

}

@media(min-width: 0) {
    .wds-grid__col-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

}

@media(min-width: 768px) {
    .wds-grid__col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

}

@media(min-width: 768px) {
    .wds-grid__col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

}

@media(min-width: 992px) {
    .wds-grid__col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

}

@media(min-width: 992px) {
    .wds-grid__col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

}

@media(min-width: 1200px) {
    .wds-grid__col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

}

.wds-grid--no-gutters>.wds-grid__row {
    margin-left: 0;
    margin-right: 0
}

.wds-grid--no-gutters>.wds-grid__row>.wds-grid__col ,.wds-grid--no-gutters>.wds-grid__row>[class*=wds-grid__col-] {
    padding-right: 0;
    padding-left: 0
}

.wds-grid--no-bleeds {
    padding-left: 0;
    padding-right: 0
}

.wds-grid--fluid {
    max-width: none !important
}

a {
    color: #007faa;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer
}

.wds-type--light {
    color: #fff
}

.wds-type--dark {
    color: #333e48
}

html {
    scroll-behavior: smooth
}

body {
    color: #1e2124;
    font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
    margin: 0;
    padding: 0;
    overflow: -moz-scrollbars-none
}

h2 ,h3 ,h4 {
    margin: 0;
    font-weight: 500
}

a {
    color: inherit;
    text-decoration: none
}

p {
    margin: 0
}

ul {
    margin-top: 0;
    margin-bottom: 0
}

button {
    outline: 0
}

img {
    max-width: 100%
}

.mds-u-bold {
    font-weight: 500
}

.mds-u-color--charcoal {
    color: #1e2124 !important
}

.mds-u-color--white {
    color: #fff !important
}

.content-wrapper .mds-bg--sabaeus a:not(.wds-button) ,.content-wrapper .mds-bg--midnight a:not(.wds-button) ,.content-wrapper .mds-bg--concord a:not(.wds-button) {
    color: #fff;
    font-weight: 500;
    text-decoration: underline
}

.mds-type--left {
    text-align: left
}

.mds-type--center {
    text-align: center
}

[dir=rtl] .mds-type--left {
    text-align: right
}

.mds-bg--canvas {
    background-color: #f7f7f7
}

.mds-bg--concord {
    background-color: #53225b
}

.mds-bg--midnight {
    background-color: #05467e
}

.mds-bg--sabaeus {
    background-color: #00bf6f
}

.mds-bg--white {
    background-color: #fff
}

.sm-header--nav-anon>span>[class*=wrenchButton-] {
    background-color: rgba(0,0,0,0);
    
}

.mds-u-height--full {
    height: 100%
}

.mds-margin--remove-top {
    margin: 0 0 32px 0
}

.mds-margin--remove-bottom {
    margin: 32px 0 0 0
}

.mds-margin--remove-all {
    margin: 0
}

* .mds-padding-toggle.mds-padding-bottom--xs ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--xs {
    padding-bottom: 16px
}

* .mds-padding-toggle.mds-padding-bottom--sm ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--sm {
    padding-bottom: 16px
}

* .mds-padding-toggle.mds-padding-bottom--md ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--md {
    padding-bottom: 32px
}

* .mds-padding-toggle.mds-padding-bottom--lg ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--lg {
    padding-bottom: 32px
}

* .mds-padding-toggle.mds-padding-bottom--none ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--none {
    padding-bottom: 0
}

* .mds-padding-toggle.mds-padding-top--md ,.mds-split-layout .mds-padding-toggle.mds-padding-top--md {
    padding-top: 32px
}

* .mds-padding-toggle.mds-padding-top--none ,.mds-split-layout .mds-padding-toggle.mds-padding-top--none {
    padding-top: 0
}

@media(min-width: 768px) {
    * .mds-padding-toggle.mds-padding-bottom--xs ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--xs {
        padding-bottom: 24px
    }

    * .mds-padding-toggle.mds-padding-bottom--sm ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--sm {
        padding-bottom: 24px
    }

    * .mds-padding-toggle.mds-padding-bottom--md ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--md {
        padding-bottom: 48px
    }

    * .mds-padding-toggle.mds-padding-bottom--lg ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--lg {
        padding-bottom: 64px
    }

    * .mds-padding-toggle.mds-padding-bottom--none ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--none {
        padding-bottom: 0
    }

    * .mds-padding-toggle.mds-padding-top--md ,.mds-split-layout .mds-padding-toggle.mds-padding-top--md {
        padding-top: 48px
    }

    * .mds-padding-toggle.mds-padding-top--none ,.mds-split-layout .mds-padding-toggle.mds-padding-top--none {
        padding-top: 0
    }

}

@media(min-width: 992px) {
    * .mds-padding-toggle.mds-padding-bottom--xs ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--xs {
        padding-bottom: 24px
    }

    * .mds-padding-toggle.mds-padding-bottom--sm ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--sm {
        padding-bottom: 32px
    }

    * .mds-padding-toggle.mds-padding-bottom--md ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--md {
        padding-bottom: 64px
    }

    * .mds-padding-toggle.mds-padding-bottom--lg ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--lg {
        padding-bottom: 96px
    }

    * .mds-padding-toggle.mds-padding-bottom--none ,.mds-split-layout .mds-padding-toggle.mds-padding-bottom--none {
        padding-bottom: 0
    }

    * .mds-padding-toggle.mds-padding-top--md ,.mds-split-layout .mds-padding-toggle.mds-padding-top--md {
        padding-top: 64px
    }

    * .mds-padding-toggle.mds-padding-top--none ,.mds-split-layout .mds-padding-toggle.mds-padding-top--none {
        padding-top: 0
    }

}

.wds-grid__row {
    width: auto
}

[tabIndex="-1"] {
    outline: none
}

.mds-cta-button {
    min-width: 168px
}

.wds-button--charcoal {
    color: #fff;
    background-color: #6b787f
}

.wds-button--charcoal.wds-button--text {
    color: #6b787f;
    background-color: rgba(0,0,0,0);
    color: #1e2124 !important;
    background-color: rgba(0,0,0,0) !important;
    
}

.mds-type--size-2 {
    font-size: 24px;
    
}

.mds-type--size-4 {
    font-size: 20px;
    
}

.mds-type--size-5 {
    font-size: 16px;
    
}

.mds-type--size-6 {
    font-size: 16px;
    
}

.mds-type--size-7 {
    font-size: 14px;
    
}

@media(min-width: 768px) {
    .mds-type--size-2 {
        font-size: 32px;
        
    }

    .mds-type--size-4 {
        font-size: 20px;
        
    }

    .mds-type--size-5 {
        font-size: 18px;
        
    }

    .mds-type--size-6 {
        font-size: 16px;
        
    }

    .mds-type--size-7 {
        font-size: 14px;
        
    }

}

.sm-header {
    margin: 0
}

.sm-header--anon {
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999
}

@media(min-width: 768px) {
    .sm-header--anon {
        padding: 0 16px
    }

}

@media(min-width: 1200px) {
    .sm-header--anon {
        height: 70px;
        padding: 0 80px
    }

    .sm-header--anon.language-en-US {
        height: 56px
    }

}

.sm-header--nav-anon {
    flex-grow: 1;
    margin: auto;
    text-align: center
}

.sm-header--nav-anon .sm-header--nav-cta-secondary.sm-header--text {
    color: #1e2124;
    background-color: rgba(0,0,0,0)
}

.sm-header__mobile-drawer [class*=wrenchPaneBody] {
    padding: 0
}

button.sm-header--drawer-trigger.sm-header--mobilemenu-cta button {
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    width: 20px;
    outline: 0;
    order: 3
}

.sm-header--drawer-trigger.sm-header--mobile-menu-secondary button {
    color: #1e2124
}

.sm-header--drawer-trigger.sm-header--mobilemenu-cta button {
    font-size: 20px;
    position: absolute;
    padding: 15px;
    left: 0
}

@media(min-width: 1200px) {
    .sm-header--drawer-trigger.sm-header--mobilemenu-cta button {
        display: none
    }

}

.sm-header--anon__addon-default {
    margin-top: 12px;
    margin-right: 12px;
    white-space: nowrap
}

@media(min-width: 768px) {
    .sm-header--anon__addon-default {
        position: absolute;
        right: 0
    }

}

@media(min-width: 1200px) {
    .sm-header--anon__addon-default {
        position: relative;
        margin-top: 16px
    }

    .sm-header--anon__addon-default .wds-button {
        padding: 0 16px;
        height: 40px;
        font-size: 15px
    }

}

.sm-header--anon-logo-default {
    margin: auto
}

.sm-logo--text {
    height: 100%;
    width: 180px;
    max-height: 24px
}

@media(min-width: 1200px) {
    .sm-logo--text {
        max-height: 36px
    }

}

.sm-logo--link {
    text-decoration: none
}

.submenu-lo--container {
    width: 921px;
    position: absolute;
    top: -9999px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 24px 0;
    background: #fff;
    text-align: left;
    z-index: 10000
}

.submenu-lo--container.solutions.language-en-US {
    padding: 0;
    background: #f7f7f7
}

.submenu-lo--container.solutions.language-en-US .wds-grid__row {
    margin: 0
}

.submenu-lo--container.solutions.language-en-US .submenu-lo--by-need {
    display: block;
    padding: 0;
    border: 0;
    font-size: 14px;
    height: 24px
}

.submenu-lo--container.solutions.language-en-US .submenu-lo--column-title {
    font-size: 12px;
    
}

.submenu-lo--container.solutions.language-en-US .submenu-lo--bottom-container {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 32px;
    left: 34px
}

.submenu-lo--container.solutions.language-en-US .submenu-lo--bottom-container .submenu-lo--button {
    font-size: 14px;
    height: 16px
}

.submenu-lo--container.products .submenu-lo--bottom-container ,.submenu-lo--container.resources .submenu-lo--bottom-container {
    border-top: 1px solid #d0d2d3
}

.submenu-lo--container.resources {
    padding: 24px 32px;
    box-sizing: border-box
}

.submenu-lo--container.resources.language-en-US .submenu-lo--bottom-container {
    margin: 8px 16px 0 16px
}

.submenu-lo--container.products.language-en-US {
    padding: 0;
    background: #f7f7f7
}

.submenu-lo--container.products.language-en-US .wds-grid__row {
    margin: 0
}

.submenu-lo--container.products.language-en-US .submenu-lo--column-title {
    font-size: 12px;
    
}

.submenu-lo--container.products.language-en-US .submenu-lo--bottom-container {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 32px;
    right: 24px
}

.submenu-lo--container.products.language-en-US .submenu-lo--bottom-container .submenu-lo--button {
    font-size: 14px;
    height: 16px
}

.submenu-lo--column-title {
    border-bottom: 1px solid #d0d2d3
}

.submenu-lo--product-title {
    margin-top: 8px;
    font-size: 16px
}

.submenu-lo--product-subtitle {
    margin-top: 4px;
    color: #73747a;
    font-weight: 400
}

.language-en-US .submenu-lo--product-subtitle {
    font-size: 14px;
    
}

.submenu-lo--by-need {
    font-size: 16px;
    font-weight: 400
}

.submenu-lo--bottom-container {
    display: block;
    margin: 8px 32px 0 32px;
    padding-top: 16px
}

.submenu-lo--bottom-container .submenu-lo--button {
    background-color: rgba(0,0,0,0);
    outline: 0
}

div[id] {
    scroll-margin-top: 64px
}

[class*=wrenchIcons-] {
    margin-left: .8em
}

.mds-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat
}

.mds-surveys-pricing-comparison {
    position: relative;
    overflow: hidden;
    min-height: 592px
}

.mds-surveys-pricing-comparison>.wds-grid {
    padding: 32px 16px
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-comparison__container {
    position: relative;
    margin: 32px 0;
    justify-content: center
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-comparison__scroll-button {
    display: none;
    position: absolute;
    top: calc(50% - 54px);
    width: 109px;
    height: 109px;
    opacity: .69;
    background-color: #6c777d;
    z-index: 10
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-comparison__scroll-button.right {
    right: -54px
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card {
    position: relative;
    margin: 16px 0;
    padding: 0;
    width: 332px;
    min-height: 315px;
    align-items: center;
    overflow: hidden;
    text-decoration: none
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card .wds-grid:nth-of-type(5)>.wds-grid__row>.wds-grid__col {
    justify-content: flex-start
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card .wds-button {
    margin: 20px 0;
    text-align: center
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card--has-icon .mds-surveys-pricing-card__icon-image {
    padding: 0 0 18px 0
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card__plan-cost {
    margin: 0;
    font-size: 44px
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card__plan-cost span {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -17px
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card__plan-title {
    padding: 24px 0 44px
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card__colored-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 110px;
    z-index: -1
}

.mds-surveys-pricing-comparison .mds-surveys-pricing-card__white-circle {
    position: absolute;
    top: 65px;
    width: 425%;
    height: 400%;
    background: #fff;
    z-index: -1
}

.mds-type--size-2 {
    font-size: 24px;
    
}

.mds-type--size-4 {
    font-size: 20px;
    
}

.mds-type--size-5 ,.mds-recovery-module__body {
    font-size: 16px;
    
}

.mds-type--size-6 {
    font-size: 16px;
    
}

.mds-type--size-7 {
    font-size: 14px;
    
}

@media(min-width: 768px) {
    .mds-type--size-2 {
        font-size: 32px;
        
    }

    .mds-type--size-4 {
        font-size: 20px;
        
    }

    .mds-type--size-5 ,.mds-recovery-module__body {
        font-size: 18px;
        
    }

    .mds-type--size-6 {
        font-size: 16px;
        
    }

    .mds-type--size-7 {
        font-size: 14px;
        
    }

}

.mds-layout-button {
    margin: 24px 0;
    width: 100%
}

.mds-recovery-module {
    text-align: center;
    padding: 64px 0;
    min-height: 212px;
    box-sizing: content-box;
    
}

.mds-recovery-module__body {
    margin-bottom: 32px;
    margin-top: 8px
}

.mds-recovery-module__button {
    width: 100%;
    margin-bottom: 24px
}

@media(min-width: 768px) {
    .mds-recovery-module {
        min-height: 232px
    }

    .mds-recovery-module__button {
        width: auto;
        margin-bottom: 0
    }

}

.mds-column__content {
    padding: 16px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative
}

.mds-split-layout {
    width: 100%;
    position: relative;
    overflow: hidden
}

.mds-split-layout--minHeightOff .mds-column {
    min-height: auto !important
}

.mds-split-layout--double-column .mds-column {
    min-height: 375px
}

.mds-split-layout--single-column .mds-column {
    min-height: 300px
}

.mds-split-layout--single-column .mds-column__content {
    padding-top: 64px;
    padding-bottom: 64px
}

.mds-triple-tile .mds-column {
    margin: 12px 24px;
    max-width: calc(100% - 2 * 24px);
    min-height: 478px
}

a.wds-button[href^="https://twitter.com"] ,a.wds-button[href^="https://www.twitter.com"] {
    background-color: #1da1f2 !important;
    color: #fff !important
}

a.wds-button[href^="https://linkedin.com"] ,a.wds-button[href^="https://www.linkedin.com"] {
    background-color: #0073b1 !important;
    color: #fff !important
}

.mds-usecase-card {
    margin: 0;
    min-height: 210px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    
}

.mds-usecase-card.mds-usecase-card--big {
    min-height: 430px;
    width: auto;
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 4px
}

.mds-usecase-card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end
}

.mds-usecase-card__group {
    display: flex;
    flex-wrap: wrap
}

.mds-usecase-card__group a {
    width: 50%
}

.mds-usecase-card__group a div {
    margin: 4px
}

