* {
    box-sizing: inherit
}

html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    cursor: default
}

article ,footer ,header ,nav ,section {
    display: block
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption ,main {
    display: block
}

nav ul {
    list-style: none
}

a {
    -webkit-text-decoration-skip: objects;
    background-color: rgba(0,0,0,0)
}

b {
    font-weight: inherit;
    font-weight: bolder
}

mark {
    background-color: #ff0;
    color: #000
}

img {
    vertical-align: middle
}

[type=reset] ,[type=submit] ,html [type=button] {
    -webkit-appearance: button
}

[type=checkbox] ,[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[tabindex] ,a {
    touch-action: manipulation
}

[hidden] {
    display: none
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-hidden=false][hidden]:not(:focus) {
    clip: rect(0,0,0,0);
    display: inherit;
    position: absolute
}

[aria-disabled] {
    cursor: default
}

a ,article ,b ,body ,div ,figcaption ,footer ,h1 ,h2 ,h3 ,h4 ,header ,html ,img ,li ,mark ,nav ,p ,section ,span ,ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

ul {
    list-style: none
}

html {
    font-size: 62.5%
}

body {
    color: #494949;
    display: flex;
    flex-direction: column;
    font-family: Austin News,georgia,times,serif;
    font-size: 1.6rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    overflow-x: hidden
}

h1 ,h2 ,h3 {
    color: #222;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0
}

h4 {
    color: #222;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0
}

h1 {
    font-family: Austin News,georgia,times,serif;
    font-size: 2.6rem;
    font-variation-settings: "wght" 525,"opsz" 60
}

h2 {
    font-family: Austin News,georgia,times,serif;
    font-size: 2.2rem;
    font-variation-settings: "wght" 525,"opsz" 60;
    
}

h3 {
    font-family: Austin News,georgia,times,serif;
    font-size: 2.2rem;
    font-variation-settings: "wght" 525,"opsz" 60;
    
}

h4 {
    font-family: Austin News,Georgia,Times,serif;
    font-size: 2.2rem;
    font-variation-settings: "wght" 300,"opsz" 9
}

p {
    color: #333;
    font-family: Austin News,georgia,times,serif;
    font-size: 1.7rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    
}

a {
    color: inherit;
    -webkit-text-decoration-color: #04777b;
    text-decoration-color: #04777b
}

img {
    display: block;
    width: 100%
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%
}

.container--content {
    padding-bottom: 40px;
    padding-top: 24px
}

.grid {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -8px;
    padding-left: 0
}

.grid-col {
    padding-left: 8px;
    padding-right: 8px
}

.grid-col-4 {
    width: 33.333%
}

.grid-col-6 {
    width: 50%
}

.grid-col-8 {
    width: 66.667%
}

.grid-col-12 {
    width: 100%
}

@supports(display:grid) {
    .grid {
        grid-gap: 16px;
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns: repeat(12,1fr);
        margin-left: 0;
        margin-right: 0
    }

    
.grid-col {
        padding-left: 0;
        padding-right: 0;
        width: auto
    }

    
.grid-col-4 {
        grid-column: span 4
    }

    
.grid-col-6 {
        grid-column: span 6
    }

    
.grid-col-8 {
        grid-column: span 8
    }

    
.grid-col-12 {
        grid-column: span 12
    }

    





.grid-col-end {
        grid-column-end: -1
    }

}

.u-heading-1 {
    font-size: 2.6rem
}

.u-heading-2 {
    font-size: 2.2rem
}

.u-heading-5 {
    font-size: 2rem
}

.u-heading-6 {
    font-size: 1.7rem
}

.u-heading-7 {
    font-family: Austin News,Georgia,Times,serif;
    font-size: 1.6rem;
    font-variation-settings: "wght" 434,"opsz" 9;
    
}

.u-heading-8 {
    font-size: 1.4rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    
}

.u-heading-8 ,.u-heading-9 {
    font-family: Austin News,Georgia,Times,serif
}

.u-heading-9 {
    font-size: 1.1rem;
    font-variation-settings: "wght" 300,"opsz" 9
}

.u-clickable-area {
    position: relative
}

.u-clickable-area a {
    position: relative;
    z-index: 99
}

.u-clickable-area .u-clickable-area__link {
    position: static
}

.u-full-bleed {
    margin-left: -8px;
    width: calc(100% + 16px)
}

.u-image-placeholder-container {
    background-color: #f8f8f8;
    height: 0;
    overflow: hidden;
    position: relative
}

.u-image-placeholder {
    left: 0;
    position: absolute;
    top: 0
}

.u-meta {
    font-size: 1.2rem
}

.u-meta {
    color: #767676;
    font-family: Telesans Text Regular,Arial,sans-serif
}

.u-order-first {
    order: -10000
}

.u-order-start {
    order: -1000
}

.u-order-late {
    order: 100
}

.u-order-last {
    order: 10000
}

.u-separator-right--relative ,.u-separator-right--tight {
    border-right: 1px solid #ddd
}

.u-separator-right--tight {
    margin-right: 4px;
    padding-right: 4px
}

.u-separator-right--relative {
    margin-right: .05em;
    padding-right: .25em
}

.is-sticky {
    position: sticky;
    top: 0;
    z-index: 1000
}

.advert {
    height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    width: 100%
}

.advert--banner {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    order: -10000
}

.advert--header.is-sticky {
    opacity: 1;
    position: relative
}

.advert-label {
    color: #494949;
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center
}

.article-list {
    position: relative;
    width: 100%
}

.article-list__heading {
    margin-top: 40px
}

.article-list__heading-link {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none
}

.article-list__heading-title--headlines {
    border-bottom: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    font-family: Austin News,georgia,times,serif;
    font-family: Austin News,Georgia,Times,serif;
    font-size: 3.5rem;
    font-variation-settings: "wght" 525,"opsz" 60;
    font-variation-settings: "wght" 400,"opsz" 60;
    margin-bottom: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    width: 100%
}

.article-list__meta {
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.4rem;
    margin-left: 8px;
    margin-top: 2px
}

.article-list__list {
    margin-top: 16px;
    overflow: hidden
}

.article-list__image {
    position: absolute;
    right: 0;
    top: 2px
}

.article-list__image img {
    max-width: 55px
}

.article-list__item {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    position: relative
}

.article-list .card {
    display: flex;
    flex-wrap: wrap
}

.article-list__container .grid {
    grid-gap: 16px 0
}

.article-list__container .article-list__heading {
    margin-top: 16px;
    padding-bottom: 0
}

.article-list__container .article-list__item {
    padding-bottom: 0
}

.article-list__container--has-spacing {
    margin-top: 40px
}

.article-list__secondary-container .article-list__heading {
    margin-top: 0
}

.article-list--two-col-divided-8-4 {
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 16px
}

.article-list--two-col-divided-8-4 .article-list__heading {
    margin-bottom: 16px;
    margin-top: 0
}

.article-list--two-col-divided-8-4 .article-list__heading-title--headlines {
    border-top: 0
}

.article-list--two-col-divided-8-4 .article-list__list {
    margin-top: 0
}

.article-list--two-col-divided-8-4 .card__thumbnail {
    margin-left: 16px;
    margin-right: 0;
    width: 30%
}

.article-list--two-col-divided-8-4 .list-headline {
    margin-bottom: 0
}

.article-list--two-col-divided-8-4 .e-standfirst--card {
    padding-bottom: 0
}

.article-list--two-col-divided-8-4 .article-list--headlines-top-left .article-list__heading-title--headlines ,.article-list--two-col-divided-8-4 .article-list--headlines-top-right .article-list__heading-title--headlines {
    border-top: 1px solid #b5b5b5
}

.article-list--two-col-divided-8-4 .headlines-top-left__item.article-list__item--5 ,.article-list--two-col-divided-8-4 .headlines-top-left__item.article-list__item--6 ,.article-list--two-col-divided-8-4 .headlines-top-left__item.article-list__item--7 ,.article-list--two-col-divided-8-4 .headlines-top-left__item.article-list__item--8 {
    grid-column: span 6
}

.article-list--two-col-divided-8-4 .headlines-bottom-right__item.article-list__item--1 ,.article-list--two-col-divided-8-4 .headlines-bottom-right__item.article-list__item--2 ,.article-list--two-col-divided-8-4 .headlines-top-right__item.article-list__item--3 ,.article-list--two-col-divided-8-4 .headlines-top-right__item.article-list__item--4 ,.article-list--two-col-divided-8-4 .headlines-top-right__item.article-list__item--5 ,.article-list--two-col-divided-8-4 .headlines-top-right__item.article-list__item--6 {
    grid-column: span 6
}

.card {
    width: 100%
}

.card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%
}

.card__author-image {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 40px;
    margin-right: 8px;
    min-height: 40px;
    min-width: 40px;
    overflow: hidden;
    width: 40px
}

.card__meta-wrapper {
    align-self: flex-start;
    flex-grow: 1
}

.card__thumbnail {
    margin-right: 8px;
    width: 33.333%
}

.card__thumbnail-height-fix img {
    height: auto
}

.card__figure {
    height: 0;
    overflow: hidden;
    padding-bottom: 62.5%;
    position: relative
}

.card__content--center-align .e-standfirst ,.card__content--center-align .list-headline__text {
    text-align: center
}

.card__content--center-align .e-rating ,.card__content--center-align .list-headline__link {
    justify-content: center
}

.card__content--center-align .card__meta-wrapper {
    flex-grow: unset;
    text-align: center
}

.commercial-unit {
    background-color: #f8f8f8;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: 24px;
    padding-bottom: 16px;
    padding-top: 8px;
    width: auto
}

.ipso {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 32px;
    margin-top: 32px
}

.ipso__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 16px;
    padding-top: 16px
}

.ipso__link {
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none
}

.ipso__link {
    color: #767676
}

.ipso__highlight {
    background-color: rgba(0,0,0,0);
    color: #04777b;
    text-decoration: underline
}

.label-live__icon {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    height: .45em;
    margin-bottom: .08em;
    margin-left: .15em;
    position: relative;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    width: .45em
}

.label-live__copy {
    color: #de0000;
    padding-left: 4px
}

.lazy-image {
    background-color: #f8f8f8
}

.lazy-image .is-loaded {
    height: auto;
    opacity: 1;
    
}

.lazy-image.is-ready {
    background-color: rgba(0,0,0,0)
}

.list-headline {
    margin-bottom: 8px
}

.list-headline__link {
    display: flex;
    text-decoration: none
}

.opinion {
    background-color: #f9f6f2;
    color: #494949;
    overflow: hidden;
    position: relative
}

.opinion .e-byline--opinion {
    color: #5c0000;
    font-size: 1.3rem;
    order: -10000
}

.opinion__heading-link {
    border-bottom: 1px solid #ddd;
    color: #5c0000;
    display: flex;
    flex-direction: column;
    font-family: Austin News,georgia,times,serif;
    font-size: 1.2rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    margin-bottom: 16px;
    padding-bottom: 8px;
    text-decoration: none
}

.opinion__heading-text {
    align-self: center;
    
}

.opinion__content {
    border: 1px solid #b5b5b5
}

.opinion__header {
    align-items: center;
    border: 1px solid #b5b5b5;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative
}

.opinion__header-heading {
    color: #5c0000;
    
}

.opinion__list {
    border: 1px solid #b5b5b5;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px
}

.opinion__list-content {
    overflow: hidden
}

.opinion__card {
    color: #222;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    position: relative
}

.opinion__card--fullwidth {
    flex-flow: row wrap
}

.opinion__card--fullwidth .list-headline {
    flex: 1 0 0;
    width: 100%
}

.opinion__card--fullwidth .card__link {
    align-self: flex-end;
    bottom: 16px;
    margin-left: 5px
}

.opinion__card--fullwidth .card__author-image {
    height: 58px;
    margin-right: 0;
    margin-top: 16px;
    width: 58px
}

.opinion__card--fullwidth .e-byline--opinion ,.opinion__card--fullwidth-hero .list-headline {
    flex: 100%
}

.opinion__card--fullwidth-hero .e-standfirst {
    flex: 1 0 0
}

.opinion__card--fullwidth-hero .card__author-image {
    height: 70px;
    margin-right: 0;
    width: 70px
}

.opinion__list--center .opinion__card {
    text-align: center
}

.opinion__list--center .list-headline__link {
    justify-content: center
}

.opinion__matt {
    border-top: 1px solid;
    padding: 16px
}

.opinion__matt-image {
    border: 1px solid #a2a2a2;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px
}

.packages {
    align-content: start
}

.packages__advert {
    background-color: #f8f8f8;
    padding: 8px;
    text-align: center
}

.package {
    padding-bottom: 32px;
    position: relative
}

.package__heading {
    color: #04555c;
    
}

.package__grid {
    overflow: hidden;
    padding-top: 16px
}

.package__image {
    position: relative
}

.package--large .package__image {
    order: -10000
}

.package--small__card {
    display: flex;
    flex-wrap: wrap
}

.package--small__card .card-labels {
    flex-basis: calc(66% - 8px);
    margin-right: 8px
}

.package--small__card .card-image {
    width: 33%
}

.site-footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    content-visibility: auto;
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.4rem;
    position: relative;
    z-index: 100
}

.site-footer__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%
}

.site-footer__masthead {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-bottom: 16px;
    padding-top: 16px;
    position: relative
}

.site-footer__logo-wrapper {
    flex: 50% 0 0
}

.site-footer__logo-link {
    display: inline-block;
    padding-right: 16px;
    position: relative
}

.site-footer__back-to-top {
    align-self: center;
    color: #222;
    display: flex;
    flex: 1 0 0;
    justify-content: end;
    position: relative;
    text-align: right
}

.site-footer__back-to-top-link {
    text-decoration: none
}

.site-footer__back-to-top-text {
    font-size: 1.2rem;
    margin-right: 4px
}

.site-footer__social {
    align-items: center;
    border-top: 1px solid #ddd;
    color: #222;
    display: flex;
    flex: 100% 0 0;
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    width: 100%
}

.site-footer__social-description {
    font-size: 1.2rem;
    
}

.site-footer__social-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 16px;
    padding: 0
}

.site-footer__social-link {
    align-items: center;
    border: 1px solid #222;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.site-footer__primary-content {
    background-color: #073349
}

.site-footer__navigation {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 48px;
    padding-top: 16px
}

.site-footer__navigation-list {
    flex: 1 0 100%;
    overflow: hidden;
    padding: 0
}

.site-footer__navigation-item {
    position: relative
}

.site-footer__navigation-link {
    color: #fff;
    display: flex;
    flex: 1 0 0;
    font-size: 1.2rem;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none
}

.site-footer__navigation-text {
    color: #fff;
    flex: 100% 0 0;
    font-size: 1.2rem;
    padding-top: 24px
}

.site-header-wrapper {
    order: -100
}

.site-header__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    width: 100%
}

.site-header__primary-wrapper {
    background-color: #fff;
    border-top-color: #ddd
}

.site-header__primary-content {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap
}

.site-header__primary-navigation-wrapper {
    flex-grow: 1;
    order: 10000;
    overflow-x: auto;
    position: relative;
    width: 100%
}

.site-header__primary-content .site-header__navigation {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-top: 1px solid #ddd;
    overflow-x: auto;
    padding-left: 8px;
    padding-right: 8px;
    scrollbar-width: none;
    width: 100%
}

.site-header__primary-content .site-header__buttons {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 8px
}

.site-header__utilities {
    display: none;
    flex-grow: 1
}

.site-header__utilities .e-utility--last {
    display: none
}

.link {
    color: #222;
    font-family: Austin News,georgia,times,serif;
    font-size: 1.4rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    margin-bottom: 4px;
    margin-top: 8px
}

.e-byline {
    color: #222;
    display: block;
    font-family: Austin News,georgia,times,serif;
    font-size: 1.4rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    margin-bottom: 4px;
    margin-top: 8px
}

.e-byline__bytext {
    color: #767676;
    margin-right: 4px
}

.e-byline__link {
    display: inline-flex;
    text-decoration: none
}

.e-icon-overlay {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute
}

.e-image-caption {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%
}

.e-image-caption__text {
    color: #fff;
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.2rem;
    padding: 8px 10px;
    z-index: 1
}

.e-kicker {
    color: #04777b
}

.e-navigation-border {
    display: inline-block;
    position: relative
}

.e-navigation-primary-item__link {
    color: #222;
    display: block;
    padding: 16px 8px;
    text-align: left;
    text-decoration: none
}

.e-rating {
    align-items: baseline;
    display: flex
}

.e-rating__text {
    font-family: Telesans Text Regular,Arial,sans-serif;
    font-size: 12px;
    margin-left: 8px
}

.e-site-header-button {
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.6rem;
    
}

.e-site-header-button__link {
    align-items: center;
    align-self: stretch;
    background-color: #fff;
    border-left: 1px solid #ddd;
    color: #222;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-decoration: none
}

.e-site-header-button__icon {
    fill: #222
}

.e-site-header-button__link-text {
    display: block
}

.e-site-header-button__link-text--description {
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.2rem;
    
}

.e-site-header-button__link-text--message {
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.6rem;
    margin-bottom: 4px
}

.e-site-header-button--subscribe {
    display: none;
    height: 100%
}

.e-site-header-button--subscribe .e-site-header-button__link {
    background-color: #02c3aa;
    border-left: 0;
    color: #072a3a
}

.e-site-header-button--search {
    display: none
}

.e-site-header-button--search .e-site-header-button__icon {
    height: 16px;
    width: 12px
}

.e-site-header-button--menu .e-site-header-button__icon {
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    height: 14px;
    position: relative;
    width: 20px
}

.e-site-header-button--menu .e-site-header-button__link {
    padding-left: 16px;
    padding-right: 8px
}

.e-site-logo {
    display: inline-block;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 16px;
    position: relative
}

.e-standfirst {
    color: #494949;
    font-family: Austin News,Georgia,Times,serif;
    font-size: 1.7rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    padding-bottom: 8px
}

.e-standfirst--card {
    font-family: Austin News,Georgia,Times,serif;
    font-size: 1.5rem;
    font-variation-settings: "wght" 300,"opsz" 9;
    padding-bottom: 8px;
    padding-top: 8px
}

.e-utility__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%
}

.e-utility__title {
    margin-bottom: 4px;
    
}

.e-utility__link {
    color: #072a3a;
    text-decoration: none
}

.e-utility__description {
    color: #767676;
    font-family: Telesans Text Regular,arial,sans-serif;
    font-size: 1.2rem;
    
}

.e-utility__image {
    margin-right: 8px;
    max-width: 60px;
    width: 33.333%
}

#wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
    background-color: #f8f8f8;
    width: 100%;
    
}

@media(min-width:300px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 516px
    }

}

@media(min-width:310px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 497px
    }

}

@media(min-width:314px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 478px
    }

}

@media(min-width:319px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 459px
    }

}

@media(min-width:400px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 459px
    }

}

@media(min-width:480px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 459px
    }

}

@media(min-width:496px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 443px
    }

}

@media(min-width:501px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 435px
    }

}

@media(min-width:506px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 427px
    }

}

@media(min-width:580px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 427px
    }

}

@media(min-width:730px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 427px
    }

}

@media(min-width:746px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 272px
    }

}

@media(min-width:988px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 272px
    }

}

@media(min-width:1002px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 264px
    }

}

@media(min-width:1012px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 256px
    }

}

@media(min-width:1024px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 272px
    }

}

@media(min-width:1066px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 264px
    }

}

@media(min-width:1076px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 256px
    }

}

@media(min-width:1240px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 256px
    }

}

@media(min-width:1280px) {
    .homePageRendererHTML #wrp-6dba2a36-a842-45e2-9a56-7d94e8864052 {
        min-height: 180px
    }

}

