.video-player {
    position: relative;
    background-size: contain;
    background-color: #000;
    height: 100%;
    width: 100%
}

.video-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer
}

.video-wrapper button {
    border: 0;
    background: 0 0;
    cursor: pointer
}

.video-wrapper .video-time {
    color: #fff;
    opacity: .8;
    font-family: "Retina Narrow","Retina",Helvetica,sans-serif;
    font-weight: 400;
    height: 100%;
    padding-top: 5px;
    user-select: none;
    font-size: 18px;
    pointer-events: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.video-wrapper .video-controls-container {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
    height: 130px;
    user-select: none;
    display: block;
    -webkit-user-select: none
}

.video-wrapper .video-controls-background {
    height: 100%;
    width: 100%;
    background: linear-gradient(-180deg,transparent 0,rgba(0,0,0,.11) 19%,rgba(0,0,0,.33) 50%,rgba(0,0,0,.9) 100%);
    opacity: 0;
    -webkit-transition-delay: 1s;
    -moz-transition-dealy: 1s;
    -o-transition-delay: 1s;
    
}

.video-wrapper .video-fade-out ,.video-wrapper .video-fade-out>* {
    opacity: 0;
    
}

.video-wrapper .video-fade-out .video-controls>* ,.video-wrapper .video-fade-out .video-controls {
    pointer-events: none!important
}

.video-wrapper .video-controls {
    display: flex;
    pointer-events: all;
    cursor: default;
    width: 100%;
    padding: 0 11px 0 20px;
    height: 52px;
    bottom: 3px;
    text-align: left;
    direction: ltr;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    
}

.video-wrapper .video-adContainer {
    height: 100%;
    width: 100%;
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden
}

.video-wrapper .video-controls .filler {
    flex-grow: 1
}

.video-wrapper .video-controls .f-r {
    margin-left: auto;
    margin-right: 15px
}

.video-wrapper .video-controls .f-r div {
    height: 100%
}

.video-controls>.video-volume {
    opacity: .8;
    margin-right: 8px
}

.video-controls>.video-volume>.video-volume-slider {
    height: 42px;
    width: 80px;
    opacity: 0;
    position: absolute;
    left: 100px;
    margin-left: 0;
    top: 11px;
    pointer-events: none
}

.video-volume-slider>div {
    position: absolute;
    top: 18px
}

.video-volume-slider>.video-volume-b {
    width: 80px;
    height: 2.1px;
    background-color: rgba(255,255,255,.2)
}

.video-volume-slider>.video-volume-v {
    width: 50px;
    height: 3px;
    background-color: #fff
}

.video-volume-slider>.video-volume-h {
    height: 13px;
    width: 13px;
    background-color: #fff;
    top: 13.4px;
    
}

.video-wrapper .video-controls .video-volume-g-videoplayer {
    height: 100%;
    width: 32px;
    display: block;
    margin: 0
}

.video-wrapper .video-share {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(34,34,34,.7);
    text-align: center;
    -moz-transition: all .5s cubic-bezier(0,0,.2,1);
    -webkit-transition: all .5s cubic-bezier(0,0,.2,1);
    cursor: default;
    bottom: 85px;
    right: 30px;
    opacity: 0;
    pointer-events: none;
    display: none
}

.player-8U .video-share {
    top: 0;
    right: 0
}

.video-wrapper>video ,.video-wrapper .video-play-overlay ,.video-wrapper>video ,.video-wrapper .video-play-overlay {
    display: none
}

.video-volume {
    width: 120px
}

.video-volume {
    width: auto
}

.video-wrapper div.video-volume {
    pointer-events: all;
    cursor: pointer;
    height: 32px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: pointer;
    opacity: .8;
    transform-origin: 50% 50%;
    padding: 0;
    margin-top: 15px;
    margin-right: 15px;
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

.video-wrapper div.video-volume {
    margin-right: 5px
}

video-time.video-controls>.video-volume .video-time {
    opacity: 0
}

.ad-top-background {
    position: absolute;
    pointer-events: none
}

.player-8U #copy-to-clipboard-notification div p {
    display: inline-block;
    position: relative;
    top: -4px;
    padding-left: 8px;
    font-weight: 300
}

.player-8U #copy-to-clipboard-notification {
    display: none;
    margin-top: 7%;
    position: absolute;
    top: 0;
    font-family: "Retina";
    width: 100%;
    vertical-align: middle;
    height: 21px;
    color: #fff;
    font-size: 13px;
    
}

.ad-top-background {
    background: linear-gradient(to top,rgba(34,34,34,0)0,rgba(34,34,34,.11) 38%,rgba(34,34,34,.33) 100%);
    height: 132px;
    width: 100%
}

.visually-hidden {
    left: 65px;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    white-space: nowrap;
    pointer-events: none
}

.styles__preview_cmIyaCh2YFl3UOrC06gH {
    color: #fff;
    background: #000;
    position: absolute;
    bottom: 100px;
    opacity: 1;
    overflow: hidden;
    border: #fff 2px solid;
    user-select: none;
    pointer-events: none
}

.styles__preview_cmIyaCh2YFl3UOrC06gH.styles__hide_T9n75rf02wWtWxhPd_Sf {
    opacity: 0
}

styles__preview_cmIyaCh2YFl3UOrC06gH.player-8U .styles__preview_cmIyaCh2YFl3UOrC06gH {
    bottom: 80px
}

.styles__time_Jg4OYUCMrwnSHea_jsB7 {
    font-family: "Retina Narrow","Retina",Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 20px;
    height: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 6px;
    z-index: 1
}

.styles__img_Secvf3CnUBFXkvoC14lm {
    left: 0;
    position: absolute
}

.styles__scrubBar_sK3yUaWMg0CzjHhVutHV {
    position: absolute;
    width: calc(100% - 40px);
    pointer-events: all;
    cursor: pointer;
    user-select: none;
    
}

.styles__scrubBackground_glWPGE7YF8fwLwli7qhL {
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,.2)
}

.styles__scrubPadding_f_H6E3a78WUSy1Smj6cf {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -10px;
    z-index: 1
}

.styles__scrubProgress_EAoEl11cAVORVUkkGktQ {
    position: absolute;
    height: 100%;
    left: 0;
    background: #fff;
    width: 0;
    height: 2px
}

.styles__dot_Wu3aWhYFnwj5onaoCkxS {
    height: 16px;
    width: 16px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -5px;
    opacity: 0
}

.styles__adMarkerContainer_T5whM1Ajg4_iurxyfkWw {
    position: absolute;
    width: 100%;
    bottom: 5px;
    height: 100%
}

.styles__preview_wnPmyASEMFAa1oEPsWMU {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7
}

.styles__preview_wnPmyASEMFAa1oEPsWMU video {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    right: 0
}

.styles__hoverText_JhTXfUHnIdk7_taetqkF {
    font-family: "Retina Narrow","Retina",Arial,Helvetica,sans-serif;
    font-size: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 8;
    display: none;
    background-color: rgba(34,34,34,.75);
    padding: 10px
}

.base__vidThumb_J2Ig01mRQcFyN8dpXVG4 {
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 6;
    background-color: #000;
    position: absolute;
    cursor: pointer;
    
}

.base__videoThumbContent__W29K99ikxMDZHdwBv_G {
    color: #fff;
    font-family: "Retina",Helvetica,sans-serif;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.4) 100%)
}

.base__videoHint_qqM8mqaB1e13KXjxbt5Y {
    position: absolute;
    z-index: 1;
    border: 0;
    background-color: transparent;
    cursor: pointer
}

.base__videoThumbImg_t6sp3fpsHJ4V_N88NY06 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    position: absolute;
    left: 0
}

.styles__videoTitleContainer_MVI4TH1CpYWF7DvSQaYA {
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top,transparent 0,rgba(0,0,0,.34) 39%,rgba(0,0,0,.8) 100%);
    z-index: 1;
    pointer-events: none
}

.styles__videoTitle_MU8JRVssXCHNkhbVAaNH {
    position: relative;
    margin: 20px;
    font-weight: 700;
    width: calc(100% -40px);
    color: #fff;
    font-family: "Escrow Condensed",Georgia,serif
}

.player-8U .styles__videoTitle_MU8JRVssXCHNkhbVAaNH {
    font-size: 32px;
    
}

.styles__adCirlce_s6sIwEsk_XmZbXeZdv88 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    height: 48px;
    width: 48px;
    font-weight: 300;
    pointer-events: none;
    filter: drop-shadow(0 1px 6px rgba(0,0,0,.5))
}

.styles__adText_KobNYSrCrHgpjtY8fDw4 ,.styles__adContent_wkYQEmAfm4OfWpwbDhAw {
    color: #fff;
    font-weight: 300;
    position: absolute;
    font-family: "Retina Narrow";
    font-size: 20px;
    pointer-events: none
}

.styles__adText_KobNYSrCrHgpjtY8fDw4 {
    top: 11px;
    left: 0;
    pointer-events: none;
    width: 48px;
    text-align: center
}

.styles__adContent_wkYQEmAfm4OfWpwbDhAw {
    left: 56px;
    top: 11px
}

div.audioplayer .audio-player-inner {
    background-color: #fff;
    box-sizing: border-box;
    color: #222;
    display: block;
    font-family: Retina,Helvetica,sans-serif;
    height: 100%;
    position: relative;
    width: 100%
}

div.audioplayer .audio-player-inner .visually-hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    left: 65px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

div.audioplayer .audio-player-inner a {
    display: block
}

div.audioplayer .audio-player-inner .audio-title {
    color: #222;
    font-family: Escrow Condensed,Georgia,Times New Roman,Times,serif;
    font-size: 22px;
    font-weight: 700;
    min-height: 22px;
    padding-right: 10px;
    text-decoration: none;
    vertical-align: top
}

div.audioplayer .audio-description {
    font-family: Retina,Helvetica,sans-serif;
    font-size: 14px;
    margin-top: 10px;
    min-height: 30px;
    overflow: hidden;
    padding-right: 10px
}

div.audioplayer .audio-description a {
    color: #0274b6;
    display: inline;
    margin-left: 5px;
    text-decoration: underline
}

div.audioplayer .controls-container {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    font-family: Retina,Helvetica,sans-serif
}

div.audioplayer .audio-controls>* {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%
}

div.audioplayer .audio-controls>:not(:first-child) {
    margin-left: 10px
}

div.audioplayer .audio-controls {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: 300;
    height: 50px
}

div.audioplayer .audio-controls button {
    font-family: Retina,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 300
}

div.audioplayer[data-show-header=false][data-show-title=false][data-show-subscribe=false] .audio-controls ,div.audioplayer[data-show-header=false][data-show-title=false][data-show-subscribe=false] .controls-container {
    margin: 0
}

div.audioplayer .audio-player-inner button {
    align-items: center;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    overflow: hidden;
    padding: 0;
    pointer-events: all;
    text-align: inherit;
    text-decoration: none
}

div.audioplayer .audio-player-inner .audio-play-pause {
    display: block;
    height: 48px;
    opacity: 1;
    overflow: visible;
    width: 48px
}

div.audioplayer .audio-player-inner .audio-time {
    display: flex;
    justify-content: center;
    min-width: 6.5em
}

.audio-speed ,div.audioplayer .audio-player-inner .audio-time {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap
}

div.audioplayer .audio-player-inner .audio-speed button {
    border: 1px solid #222;
    box-sizing: content-box;
    justify-content: center;
    padding: 4px;
    width: 32px
}

div.audioplayer .audio-player-inner .audio-scrub-background {
    background: #ccc;
    cursor: pointer;
    height: 4px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%
}

div.audioplayer .audio-player-inner .audio-scrub-wrapper {
    cursor: pointer;
    flex-grow: 1;
    position: relative
}

div.audioplayer .audio-player-inner .audio-scrub-progress {
    background: #0080c3;
    display: block;
    height: 100%;
    position: absolute;
    width: 0
}

div.audioplayer .audio-player-inner .audio-subscribe {
    margin-left: 10px;
    width: 200px
}

div.audioplayer .audio-player-inner .audio-subscribe .dropdown {
    background: #0274b6;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    position: relative;
    width: 100%
}

div.audioplayer .audio-player-inner .audio-subscribe a.dropdown {
    display: block;
    text-decoration: none
}

div.audioplayer .audio-player-inner .audio-subscribe .dropdown>.text {
    display: inline-block;
    font-weight: 500;
    transform: translateY(1px)
}

div.audioplayer .dropdown-content {
    background-color: #fff;
    display: none;
    position: absolute;
    right: 0;
    top: 47px;
    width: 200px;
    z-index: 999999
}

div.audioplayer .dropdown-content a {
    color: #666!important;
    display: block;
    font-family: Retina,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 350;
    text-decoration: none;
    width: 100%
}

.audioplayer .dropdown-link-inner {
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    margin-left: 15px
}

div.audioplayer .dropdown-content a .logo {
    height: 20px;
    margin-right: 12px;
    width: 20px
}

div.audioplayer .audio-player-inner .audio-volume-wrapper {
    align-self: flex-end;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    padding: 0 5px;
    width: 30px;
    z-index: 39
}

div.audioplayer .audio-player-inner .audio-volume {
    align-items: center;
    flex-basis: 30px;
    min-height: 50px
}

div.audioplayer .audio-player-inner .audio-volume-wrapper .audio-volume-slider {
    display: none;
    height: 120px;
    justify-content: center;
    position: relative;
    width: 100%
}

div.audioplayer .audio-player-inner .audio-volume-wrapper .audio-volume-slider div {
    position: absolute
}

div.audioplayer .audio-player-inner .audio-volume-slider-ball {
    background-color: #0274b6;
    display: block;
    height: 10px;
    pointer-events: none;
    position: absolute;
    width: 10px;
    z-index: 3
}

div.audioplayer .audio-player-inner .audio-volume-slider-bar {
    background-color: #0274b6;
    bottom: 5px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    width: 4px;
    z-index: 2
}

div.audioplayer .audio-player-inner .audio-volume-slider-bar-background {
    background: #ccc;
    bottom: 5px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    width: 4px;
    z-index: 1
}

div.audioplayer .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #0080c3;
    height: 14px;
    margin-left: -7px;
    pointer-events: none;
    position: absolute;
    width: 14px;
    z-index: 3
}

div.audioplayer .audio-player-inner .audio-scrub-buffering {
    -webkit-animation: animate-stripes 5s linear infinite;
    background-size: 35px 15px,100% 100%,100% 100%;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.audio-player-inner .audio-img {
    border: 1px solid #ccc;
    float: left;
    height: 120px;
    margin-right: 15px;
    width: auto
}

div.audioplayer .audio-size-sm .audio-img {
    height: 100px
}

div.audioplayer .audio-size-sm .audio-subscribe {
    flex-basis: 100%
}

div.audioplayer .audio-size-sm .audio-description {
    display: none
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner {
    background: #000;
    padding: 20px
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-description ,div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-title {
    display: none
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-scrub-progress {
    background: #50e3c2
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-scrub-background {
    background: #333
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-time {
    color: #888;
    font-size: 12px;
    font-weight: 400
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-speed button {
    background-color: #000;
    color: #888
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-volume-wrapper {
    background: #000;
    border: none!important
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-volume-slider {
    background-color: #000;
    border: none
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-volume-slider-bar {
    background: #50e3c2
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-volume-slider-bar-background {
    background: #333
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-volume-slider-ball {
    background-color: #fff
}

div.audioplayer[data-theme=foe-dark] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    display: none
}

div.audioplayer[data-theme=foe-light] .audio-player-inner {
    background-color: transparent;
    font-family: Retina,Helvetica,sans-serif
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-img {
    margin-bottom: 20px
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-title ,div.audioplayer[data-theme=foe-light] .audio-size-sm .audio-title {
    color: #222;
    font-family: Retina Narrow,Retina,Arial,Helvetica,sans-serif;
    font-size: 22px;
    
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-controls {
    clear: both;
    position: static
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-volume-wrapper {
    background: #f4f4f4;
    border: 1px solid #f4f4f4
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-volume-slider-ball {
    background-color: #fff;
    
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-scrub-progress ,div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-volume-slider-bar {
    background: #50e3c2
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    display: none
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-time {
    font-size: 12px
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-subscribe {
    margin-left: 0;
    position: relative;
    width: 235px
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-subscribe .dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #666;
    font-family: Retina,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 47px;
    text-align: left;
    width: 235px
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-subscribe .dropdown .text {
    position: absolute;
    top: calc(50% - 7px)
}

div.audioplayer[data-theme=foe-light] .dropdown-content {
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0;
    box-sizing: border-box;
    left: -1px;
    top: 45px;
    width: 235px
}

div.audioplayer[data-theme=foe-light] .dropdown-link-inner {
    border-bottom: none
}

div.audioplayer[data-theme=foe-light] .audio-size-sm .audio-subscribe {
    bottom: 0;
    left: 0;
    width: 100%
}

div.audioplayer[data-theme=foe-light] .audio-size-sm .audio-subscribe .dropdown {
    width: 100%
}

div.audioplayer[data-theme=foe-light] .audio-size-sm .audio-subscribe .dropdown-content {
    box-sizing: content-box;
    width: 100%
}

div.audioplayer[data-theme=foe-light] .audio-player-inner .audio-description {
    padding-right: 20px
}

div.audioplayer[data-theme=barrons] .audio-player-inner {
    background-color: #fff
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-title {
    color: #001e20;
    font-family: Tiempos Headline,Georgia,serif;
    font-size: 20px;
    font-weight: 700;
    font-weight: 500;
    margin-bottom: 12px
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-img {
    margin-right: 9px
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-description {
    font-family: Aileron,Helvetica,Arial,sans-serif
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-speed button {
    border: 1px solid #001e20;
    padding: 5px
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-subscribe .dropdown {
    background: none;
    border: 1px solid #6d7878;
    margin-top: 7px;
    padding: 12px
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-subscribe .dropdown .text {
    color: #001e20;
    font-family: Aileron,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

div.audioplayer[data-theme=barrons] .dropdown-content {
    top: 45px;
    width: 100%
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    height: 10px;
    margin-left: -5px;
    width: 10px
}

div.audioplayer[data-theme=barrons] .audio-player-inner .audio-scrub-progress ,div.audioplayer[data-theme=barrons] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #007bbd
}

div.audioplayer[data-theme=wsj-home] .audio-player-inner {
    background-color: #fff;
    display: flex
}

div.audioplayer[data-theme=wsj-home] .audio-player-inner .controls-col {
    flex: 1 1 auto;
    padding-left: 15px
}

div.audioplayer[data-theme=wsj-home] .audio-player-inner .subscribe-col {
    flex: 0 0 95px
}

div.audioplayer[data-theme=wsj-home][data-show-subscribe=false] .audio-player-inner .subscribe-col {
    display: none
}

div.audioplayer[data-theme=wsj-home] .audio-img {
    margin: 0
}

div.audioplayer[data-theme=wsj-home] .audio-title {
    font-family: Retina Book,Retina,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}

div.audioplayer[data-theme=wsj-home] .audio-description {
    color: #333;
    font-family: Exchange,Georgia,serif;
    font-size: 14px;
    
}

div.audioplayer[data-theme=wsj-home] .audio-controls {
    margin: 10px 0
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: auto
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe .dropdown {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-top: 5px;
    padding: 0;
    width: 70px
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe .dropdown-content {
    left: unset;
    top: 34px
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe .dropdown>.text {
    color: #666;
    font-size: 11px;
    
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe-featured-links {
    text-align: right
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe-featured-links>a {
    color: #0274b6;
    display: block;
    font-size: 12px;
    font-weight: 350;
    text-decoration: none
}

div.audioplayer[data-theme=wsj-home] .audio-subscribe>.subscribe-header {
    color: #666;
    font-family: Retina Narrow,Retina,Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    
}

div.audioplayer[data-theme=wsj-home] .audio-size-sm .audio-description {
    display: block
}

div.audioplayer[data-theme=wsj-article] .audio-player-inner {
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding: 20px
}

div.audioplayer[data-theme=wsj-article] .audio-player-inner .audio-volume-wrapper {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4
}

div.audioplayer[data-theme=wsj-article] .audio-description ,div.audioplayer[data-theme=wsj-article] .audio-title {
    margin: 10px 0;
    padding: 0
}

div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner {
    margin: 0
}

div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-description {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 300!important;
    height: 20px;
    position: absolute;
    top: 8px;
    user-select: none
}

div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-play-pause ,div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-time ,div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner .audio-volume-wrapper {
    display: none
}

div.audioplayer[data-theme=wsj-article-reader] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner {
    background: #f4f4f4;
    border: 1px solid #ebebeb;
    color: #222;
    margin: 0
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner a {
    text-decoration: none
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-description {
    font-size: 13px;
    font-weight: 300!important;
    user-select: none
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-controls {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-play-pause {
    height: 24px;
    margin: 10px 10px 10px 0;
    width: 24px
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-scrub-wrapper {
    height: 100%
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #222;
    height: 9px;
    margin-left: -4px;
    width: 9px
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-scrub-background {
    height: 2px
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-scrub-progress {
    background-color: #222
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-play-pause ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-time ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-wrapper {
    display: none
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-wrapper {
    background: #f4f4f4;
    
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-slider-bar ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-slider-bar-background {
    width: 2px
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-slider-ball ,div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner .audio-volume-slider-bar {
    background-color: #222
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=wsj-article-reader-slim] .audio-size-sm .audio-description {
    display: inline
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner {
    background: #1a2f35;
    border: 1px solid #ebebeb;
    color: #fff;
    margin: 0
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner a {
    text-decoration: none
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-description {
    font-size: 13px;
    font-weight: 300!important;
    user-select: none
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-controls {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-play-pause {
    height: 24px;
    margin: 10px 10px 10px 0;
    width: 24px
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-scrub-wrapper {
    height: 100%
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #fff;
    height: 9px;
    margin-left: -4px;
    width: 9px
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-scrub-background {
    height: 2px
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-scrub-progress {
    background-color: #fff
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-play-pause ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-time ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-wrapper {
    display: none
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-wrapper {
    background: #1a2f35;
    
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-slider-bar ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-slider-bar-background {
    width: 2px
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-slider-ball ,div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-volume-slider-bar {
    background-color: #fff
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner .audio-speed button {
    border: 1px solid #fff
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=wsjpro-article-reader-slim] .audio-size-sm .audio-description {
    display: inline
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner {
    margin: 0
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-description {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 300!important;
    height: 20px;
    position: absolute;
    top: 8px;
    user-select: none
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-controls {
    margin: 0
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-play-pause ,div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-time ,div.audioplayer[data-theme=mg-article-reader] .audio-player-inner .audio-volume-wrapper {
    display: none
}

div.audioplayer[data-theme=mg-article-reader] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner {
    background: none;
    margin: 0
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-volume-wrapper {
    background: none
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-description {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 300!important;
    height: 20px;
    position: absolute;
    top: 8px;
    user-select: none
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-controls {
    margin: 0
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-play-pause ,div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-time ,div.audioplayer[data-theme=fn-article-reader] .audio-player-inner .audio-volume-wrapper {
    display: none
}

div.audioplayer[data-theme=fn-article-reader] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner {
    background: #f4f4f4;
    border: 1px solid #ebebeb;
    color: #222;
    margin: 0;
    padding: 10px 10px 0
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-title {
    font-family: Retina,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 500!important;
    margin-left: 5px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-description {
    margin-left: 5px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-scrub-wrapper ,div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-speed ,div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-time ,div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-wrapper {
    color: #222
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner a {
    text-decoration: none
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-play-pause {
    height: 24px;
    margin: 10px 10px 10px 0;
    width: 24px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-scrub-wrapper {
    height: 100%
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #222;
    height: 9px;
    margin-left: -4px;
    width: 9px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-scrub-progress {
    background-color: #222
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-wrapper {
    background: #f4f4f4;
    
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-slider-bar ,div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-slider-bar-background {
    width: 2px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-scrub-background {
    height: 2px
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-slider-ball ,div.audioplayer[data-theme=wsj-queue] .audio-player-inner .audio-volume-slider-bar {
    background-color: #222
}

div.audioplayer[data-theme=wsj-queue] .audio-player-inner.audio-size-sm {
    min-height: auto
}

div.audioplayer[data-theme=wsj-queue] .audio-size-sm .audio-description {
    display: inline
}

div.audioplayer[data-theme=mw] .audio-player-inner .audio-volume-wrapper {
    z-index: 10
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner {
    background-color: #fff
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .audio-title {
    color: #001e20;
    font-family: Tiempos Headline,Georgia,serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .audio-description {
    font-family: Aileron,Helvetica,Arial,sans-serif
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .audio-scrub-progress ,div.audioplayer[data-theme=mw-podcast] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #007bbd
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .audio-volume-wrapper {
    z-index: 8
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .controls-container .audio-subscribe .dropdown {
    align-items: center;
    display: flex;
    height: 36px;
    overflow: visible;
    padding: 0 15px;
    z-index: 8
}

div.audioplayer[data-theme=mw-podcast] .audio-player-inner .controls-container .dropdown .dropdown-content {
    top: 36px
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-play-pause {
    height: auto;
    width: auto
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-time {
    color: #222;
    font-family: Retina,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 350;
    
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-speed button {
    color: #555;
    font-size: 12px;
    font-weight: 350;
    padding: 4px 5px
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-scrub-background {
    background-color: #f7f8f7
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-scrub-wrapper {
    margin-left: 16px
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-scrub-progress ,div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #126bc3
}

div.audioplayer[data-theme=wsj-utility-bar] .audio-player-inner .audio-controls {
    flex-wrap: wrap
}

div.audioplayer[data-theme=barrons-featured-article-reader] .audio-player-inner {
    margin: 0
}

div.audioplayer[data-theme=barrons-featured-article-reader] .audio-player-inner .audio-description {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 300!important;
    height: 20px;
    position: absolute;
    top: 8px;
    user-select: none
}

div.audioplayer[data-theme=barrons-featured-article-reader] .audio-player-inner .controls-container {
    flex-wrap: nowrap
}

div.audioplayer[data-theme=barrons-featured-article-reader] .audio-player-inner.audio-size-sm {
    min-height: auto
}

.audioplayer[data-theme=audio-center-v2] .audio-player-inner .audio-play-pause {
    height: 40px;
    margin-right: 18px;
    width: 40px
}

.audioplayer[data-theme=audio-center-v2] .audio-player-inner .audio-scrub-wrapper {
    margin-left: 0
}

.audioplayer[data-theme=audio-center-v2] .audio-player-inner .audio-scrub-progress ,.audioplayer[data-theme=audio-center-v2] .audio-player-inner .audio-scrub-wrapper .audio-scrub-dot {
    background-color: #222
}

error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
